<div class="cmp-member-data-grid ">

    <div class="row">
        <div class="col-md-12">
            <div class="clbr--block-options">
                <div class="input-group">
                    <clbr-data-filter>
                    </clbr-data-filter>
                    <span class="input-group-addon">
                        <button matTooltip="reload grid" matTooltipClass="clbr--matTooltip" class="clbr--btn-default btn btn-sm btn-default notification" (click)="dtMembers.reset()">
                            <i class="pi bowtie-synchronize"></i>
                        </button>
                        <button matTooltip="download data (csv format)" matTooltipClass="clbr--matTooltip" class="clbr--btn-default btn btn-sm btn-default notification" (click)="dtMembers.exportCSV()">
                            <i class="pi bowtie-transfer-download"></i>
                        </button>
                        <p-multiSelect matTooltip="column options" matTooltipClass="clbr--matTooltip" class="clbr--p-multiSelect-v1 clbr--p-multiSelect-column-option" [options]="optionTbToggle.columns" [filter]="optionTbToggle.filter" [(ngModel)]="tbSelectedColumns" optionLabel="header"
                            selectedItemsLabel="{0} columns selected">
                        </p-multiSelect>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="clbr--ui-table clbr--ui-table-v1">

                <p-table #dtMembers
                    selectionMode="single"
                    [columns]="tbSelectedColumns"
                    [value]="tbItems"
                    [paginator]="true"
                    [rows]="10"
                    [rowsPerPageOptions]="[2,10,20]"
                    [totalRecords]="tbTotalItemCount"
                    [loading]="tbLoading"
                    [lazy]="true"
                    (onLazyLoad)="tb_loadItems($event)">
                    <ng-template pTemplate="header"
                        let-columns>
                        <tr>
                            <th *ngFor="let col of columns"
                                [pSortableColumn]="col.field"
                                [style.width.px]="col.width"
                                class="border-left-none border-right-none">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"
                                    ariaLabel="Activate to sort"
                                    ariaLabelDesc="Activate to sort in descending order"
                                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th>
                            <!-- <th class="border-left-none border-right-none">Actions</th> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body"
                        let-rowData
                        let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns"
                                class="border-left-none border-right-none">
                                {{rowData[col.field]}}
                            </td>
                            <!-- <td class="border-left-none border-right-none">
                                <button matTooltip="Unsubscribe"
                                    matTooltipClass="TestMatTooltipClass"
                                    matTooltipPosition="right"
                                    class="clbr-tb-action-btn btn btn-sm btn-default notification"
                                    (click)="item_unsubscribe(rowData.id)">
                                    <mat-icon class="filter-icon">link_off</mat-icon>
                                </button>
                            </td> -->
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
    </div>
</div>


<p-confirmDialog #cd header="Confirmation">
    <p-footer>
        <button class="btn btn-sm btn-default notification" (click)="cd.accept()">
            <i class="fa fa-check"></i>Yes</button>
        <button class="btn btn-sm btn-default notification" (click)="cd.reject()">
            <i class="fa fa-remove"></i>No</button>
    </p-footer>
</p-confirmDialog>

<p-growl styleClass="clbr--growl-icon-none" [life]="5000">
</p-growl>
