.cmp--user-manage {
    .cmp--nav-title { display: inline-block; }
    ::ng-deep .clbr--page--navigation .cmp--nav-btn-back { width: 35px; height: 35px; line-height: 35px; }
    ::ng-deep .clbr--page--navigation .cmp--nav-btn-back .mat-icon { font-size: 19px; line-height: 24px;  color: #6992d2; }
    ::ng-deep .clbr--page--navigation .cmp--nav-title { font-size: 15px; margin-bottom: 0px; margin-right: 20px; margin-left: 5px; line-height: 35px; vertical-align: middle; } 
}