<!-- page -->
<div class="cmp--user-manage container-fluid clbr--page">

    <!-- page-title -->
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="clbr--page-title">
            </div>
        </div>
    </div> -->

    <!-- page-navigation -->
    <div class="row">
        <div class="col-md-9">
            <div class="clbr--page-navigation">
                <nav class="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <button class="clbr--mat-raised-button-v1 clbr--mat-raised-button-primary" mat-raised-button>INVITE USER TO SYSTEM</button>
                        </li>
                    </ul>                    
                </nav>
            </div>
        </div>
    </div>

    <!-- page-content -->
    <div class="row">
        <div class="col-md-9">
            <div class="clbr--page-content">
                <cmp-user-data-grid>
                </cmp-user-data-grid>
            </div>
        </div>
    </div>

</div>