<div class="clbr--page container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="clbr--page-title">
                <span>Groups > View group "Test group 1"</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="clbr--block-content">

                <div class="row">
                    <div class="col-md-12">
                        <div class="clbr--block-tabs_v1">
                            <p-tabMenu [model]="items"></p-tabMenu>
                        </div>
                    </div>
                </div>
                <router-outlet>                    
                </router-outlet>

            </div>
        </div>
    </div>
</div>