.cmp--group-manage {
    .clbr--cust--fieldset-groups.ui-fieldset { position: absolute; top: 0px; bottom: 5px; left: 0px; right: 5px; }
    .clbr--cust--split-area-right { position: relative; margin-left: 5px; margin-bottom: 5px; }
}


