.cmp-footer-layout {
    position: absolute;
    bottom: 0px;
    height: 25px;
    background-color: #DDDDDD;
    width: 100%;
    vertical-align: middle;
    padding: 0px 15px;
    padding-top: 3px;

    .text {
        font-size: 11px;
    }
}