// ng-sidebar-container {
//     display: block;
//     position: absolute;
//     top: 47px;
//     height: calc(100% - 47px);

//     .ng-sidebar__content {
//         header { }
//         section { position: absolute; }
//     }
// }


.layout-content{
    position: absolute;
    top: 47px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}