// ng-sidebar-container {
//     display: block;
//     position: absolute;
//     top: 47px;
//     height: calc(100% - 47px);
// }    
// ng-sidebar-container header { }
// ng-sidebar-container .demo-contents { 
//     position: absolute;
//     top: 0px;
//     bottom: 0px;
// }
    



.layout-content{
    position: absolute;
    top: 47px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}