// navbar
.navbar { min-height: 47px; }
.navbar-brand {
    height: 47px;
    padding: 10px 15px;
    color: white;
    box-shadow: none;
    border: none;
    text-shadow: none;
    font-size: 20px;
    padding-top: 12px;
    padding-right: 8px;
}
.navbar-brand:hover { color: #ffffff; }
.nav > li > a { padding: 10px 15px; cursor: pointer; }
.navbar-default { background-image: none; font-size: 12px; }

// dropdown-menu
.dropdown-menu { font-size: 12px; }
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover { background-image: none; cursor: pointer; }



.button--toggle {
    &.navbar-toggle {
        display: initial !important;
        border-radius: 50%;
        border: 0px solid;
        padding: 14px 11px;
        margin: 3px 0px;
        float: left;
        transition: background-color 0.2s linear;   
    }
    &.navbar-toggle:focus { background: inherit; }    
    &.navbar-toggle:hover { background: rgba(255,255,255,.2); }    
    &.navbar-toggle .icon-bar {
        width: 18px;
        background-color: #ffffff;
    }
    &.navbar-toggle .icon-bar+.icon-bar { margin-top: 3px; }
}

.navbar--block {
    background-color: #3B78E7;
    border: none;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
}

.nav--block { 
    > li > a {
        text-shadow: none;
        color: white;
        border-radius: 50%;
        margin: 4px 0px;
        padding: 9px 12px;
    }
    > li > a .mat-icon {
        margin-top: 2px;
        height: 16px;
        width: 16px;
        font-size: 16px;
    }
    > li > a:hover {
        background: rgba(255,255,255,.2);
    }
 }



// .mat-icon { text-shadow: none; }