<div class="cmp-group-data-grid">
    <!-- <div class="row">
        <div class="col-md-12">
            Manage organizations
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-12">
            <div class="clbr--block-options">
                <div class="input-group">
                    <clbr-data-filter>
                    </clbr-data-filter>
                    <span class="input-group-addon">
                        <button matTooltip="reload grid" matTooltipClass="clbr--matTooltip" class="clbr--btn-default btn btn-sm btn-default notification"
                            (click)="dtGroups.reset()">
                            <i class="pi bowtie-synchronize"></i>
                        </button>
                        <button matTooltip="download data (csv format)" matTooltipClass="clbr--matTooltip" class="clbr--btn-default btn btn-sm btn-default notification"
                            (click)="dtGroups.exportCSV()">
                            <i class="pi bowtie-transfer-download"></i>
                        </button>
                        <p-multiSelect matTooltip="column options" matTooltipClass="clbr--matTooltip" class="clbr--p-multiSelect-v1 clbr--p-multiSelect-column-option"
                            [options]="optionTbToggle.columns" [filter]="optionTbToggle.filter" [(ngModel)]="tbSelectedColumns"
                            optionLabel="header" selectedItemsLabel="{0} columns selected">
                        </p-multiSelect>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="clbr--ui-table clbr--ui-table-v1">

                <p-table #dtGroups exportFilename="org-data" selectionMode="single" [columns]="tbSelectedColumns" [value]="tbItems" [paginator]="true"
                    [rows]="10" [rowsPerPageOptions]="[2,10,20]" [totalRecords]="tbTotalItemCount" [loading]="tbLoading" [lazy]="true"
                    (onLazyLoad)="tb_loadItems($event)">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th pSortableColumn="name" [style.width.px]="360" class="border-left-none border-right-none">
                                Organization name
                                <p-sortIcon field="name" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width.px]="col.width" class="border-left-none border-right-none">
                                {{col.header}}
                                <p-sortIcon *ngIf="col.sort" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th>
                            <!-- <th class="border-left-none border-right-none">Actions</th> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td class="border-left-none border-right-none">
                                <!-- <a class="cmp--row-link" (click)="goToOverview(rowData.id, rowData.name)">{{rowData.name}}</a>        -->
                                <a class="cmp--row-link" [routerLink]="['overview/' + rowData.id + '/main']">{{rowData.name}}</a>
                            </td>
                            <td *ngFor="let col of columns" class="border-left-none border-right-none">
                                {{rowData[col.field]}}
                            </td>

                            <!-- <td class="border-left-none border-right-none">
                                <button matTooltip="Edit group" matTooltipClass="TestMatTooltipClass" matTooltipPosition="right" class="clbr-tb-action-btn btn btn-sm btn-default notification" (click)="item_edit(rowData.id)">
                                    <mat-icon class="filter-icon">edit</mat-icon>
                                </button>
                                <button matTooltip="Delete group" matTooltipClass="TestMatTooltipClass" matTooltipPosition="right" class="clbr-tb-action-btn btn btn-sm btn-default notification" (click)="item_delete(rowData.id)">
                                    <mat-icon class="filter-icon" >delete</mat-icon>
                                </button>
                            </td> -->
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>

</div>