.cmp-group-data-grid {
    ::ng-deep &.clbr--block-v1 .clbr--block--options { margin-top: 0px !important; }
    ::ng-deep .clbr--p-multiSelect-column-option .pi.pi-caret-down:before { content: "\EA58"; }
    .clbr--block--options .pi { font-size: 12px; }
    .clbr--block--options .clbr--btn-default:hover { background-color: #D3D5D8; }
    .clbr--block--options .clbr--btn-default {
        border-radius: 0;
        background-color: transparent;
        background-image: none;
        box-shadow: none;
        border: none;
        padding: 7px 10px;
    }
    .clbr--ui-table tr.ui-state-highlight .cmp--row-link { color: #fff;}
    .clbr--ui-table tr:hover .cmp--row-link { text-decoration: underline; }
    .cmp--row-link { font-weight: 400; color: #454545; }
    .cmp--row-link:hover { color: #3367d6; }
}



// .clbr-tb-action-btn {

//     margin-right: 10px;
//     border-radius: 25px;
//     padding: 0;
//     width: 25px;
//     height: 25px;
//     box-shadow: none;
//     background-image: none;
//     border: 4px solid #fff;
//     background-color: #777;
//     transition : border 500ms ease-out;

//     .mat-icon {
//         font-size: 13px;
//         height: 13px;
//         width: 13px;
//         vertical-align: initial;
//         color: transparent;
//         text-shadow: 0 1px 0 #ebebeb; 
//     }
    
//     &:hover {
//         border: 4px solid #fff !important;
//     }


// }

// ::ng-deep .ui-table.ui-table-hoverable-rows .ui-table-tbody > tr:not(.ui-state-highlight):not(.ui-contextmenu-selected):hover td .clbr-tb-action-btn{
//     border: 4px solid #eee;
// }

// ::ng-deep .TestMatTooltipClass { padding: 0; opacity: 0.8; }