<div class="body-question-builder">



  <div class="header">
    <p *ngIf="form.valid" style="color: green; font-weight: bold"> {{form.valid | json}}</p>
    <p *ngIf="!form.valid" style="color: red; font-weight: bold"> {{form.valid | json}}</p>
    {{page.id | json}}------------------
    {{page | json}}
    --------------------------------------
    {{this.form.value | json}}
    <!-- {{this.form.value | json}} -->
  </div>
  <div class="body">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <!-- {{questionSettings.allowquestion | json}} -->
      <div class="question-list" dnd-sortable-container [dropZones]="questionSettings.allowquestion" [sortableData]="questions">

        <ul class="d-list-group">
          <li *ngFor="let item of questions; let i = index" class="d-repeat-question" [ngClass]='{"d-edit-repeat-question": editQuestionKey == item.id}'
            [dragData]="item" dnd-sortable [dragEnabled]="!editCheckbox.checked" [sortableIndex]="i">


            <div class="d-question-wrapp" dnd-droppable (onDropSuccess)="!!$event.dragData.name ? addNewQuestion($event, i) : changeQuestionOrders(item, i)"
              [dropZones]="questionSettings.allowquestion">
              <div class="d-item-left-section">
                <div class="d-item-opt-controls">
                  <input id="inputCheckQuestion" [checked]="CheckedOptQuestion == item.id" #editCheckbox name="editCheckbox" type="checkbox" (change)="setQuestionOption(item, editCheckbox.checked); editCheckbox.checked ? editQuestionKey = item.id: editQuestionKey = ''">
                  <label for="inputCheckQuestion"> {{'Q' + (i+1)}}</label>

                  <br>
                  <button (click)="flickerNotificationField(1)" type="button" *ngIf="item.required && editCheckbox.checked" class="d-btn-option" title="Require question">
                    <i class="fa fa-asterisk"></i>
                  </button>
                  <br>
                  <button (click)="flickerNotificationField(2)" type="button" *ngIf="item.isAdditionalAnswer && editCheckbox.checked" class="d-btn-option" title="Additional answer">
                      <i class="fa fa-share "></i>
                    </button>
       
                </div>
              </div>
              <div class="d-item-right-section">
                <survey-form-question [isEditQuestion]="editCheckbox.checked" [pageId]="pageId" [question]="item" [form]="form"></survey-form-question>

              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="form-row">
        <button type="submit" [disabled]="!form.valid">Save</button>
      </div>
    </form>
  </div>
</div>