<div *ngIf="!isEditState" class="d-question-wrapper">
    <div class="d-cover"></div>
    <div class="form-viewr-controls">
        <div>
            <label [attr.for]="question.id">{{question.text}}
                <label *ngIf="question.required" style="color:red">*</label>
            </label>
            <br>
            <p>{{question.description}}</p>

            <div *ngIf="!!question.name">
                {{question.name}}
            </div>


            <div [ngSwitch]="question.controlType">
                <div *ngSwitchCase="'Textbox'">
                    <div class="d-control-wrap">
                        <input class="d-text-control">
                    </div>
                    <div class="d-additional-control" *ngIf="question.isAdditionalAnswer">
                        Other:
                        <input class="d-input-other" type="text">
                    </div>
                </div>


                <div *ngSwitchCase="'Textarea'">
                    <div class="d-control-wrap">
                        <textarea class="d-textarea-control" rows="5" [disabled]="true"></textarea>
                    </div>
                    <div class="d-additional-control" *ngIf="question.isAdditionalAnswer">
                        Other:
                        <input class="d-input-other" type="text">
                    </div>
                </div>


                <div *ngSwitchCase="'Dropdown'">
                    <div class="d-control-wrap">
                        <p-dropdown [options]="question.options" optionLabel="value" [style]="{'width':'50%', 'font-size':'12px', 'border': '1px solid #a9a9a9'}">
                        </p-dropdown>
                    </div>
                    <div class="d-additional-control" *ngIf="question.isAdditionalAnswer">
                        Other:
                        <input class="d-input-other" type="text">
                    </div>
                </div>


                <div *ngSwitchCase="'Radio'">
                    <div style="margin-bottom: 10px" class="form-check" *ngFor="let opt of question.options">
                        <input style="margin: 0px; vertical-align: middle;" type="radio" id="{{opt.id}}">
                        <label style="margin: 0px; vertical-align: middle;" for="{{opt.id}}" class="form-check-label">
                            {{opt.value}}
                        </label>
                    </div>
                    <div class="d-additional-control" *ngIf="question.isAdditionalAnswer">
                        Other:
                        <input class="d-input-other" type="text">
                    </div>
                </div>


                <div *ngSwitchCase="'Checkbox'">
                    <div style="margin-bottom: 10px" class="form-check" *ngFor="let opt of question.options">
                        <input style="margin: 0px; vertical-align: middle;" type="checkbox" id="{{opt.id}}">
                        <label style="margin: 0px; vertical-align: middle;" for="{{opt.id}}" class="form-check-label">
                            {{opt.value}}
                        </label>
                    </div>
                    <div class="d-additional-control" *ngIf="question.isAdditionalAnswer">
                        Other:
                        <input class="d-input-other" type="text">
                    </div>
                </div>


                <div *ngSwitchCase="'GridRadio'">
                    <div>
                        <div class="hscroll">
                            <table cellspacing="0" cellpadding="6">
                                <tbody>
                                    <tr>
                                        <td style="width: 25%">
                                        </td>
                                        <td class="d-align-right-cell" align="right" *ngFor="let itemColLabel of question.grid.cols let iItemColLabel=index">
                                            {{itemColLabel.value}}
                                        </td>
                                    </tr>
                                    <tr *ngFor="let itemRowLabel of question.grid.rows let iItemRowLabel=index">
                                        <td class="d-align-right-cell">{{iItemRowLabel + 1}}. {{itemRowLabel.value}}</td>
                                        <td *ngFor="let itemCol of question.grid.cols let iItemCol=index">
                                            <input type='radio'>
                                        </td>
                                    </tr>
                                </tbody>
                                <tr *ngIf="question.isAdditionalAnswer">
                                    <td class="d-align-right-cell">Additional answer:</td>

                                    <td [attr.colspan]="question.grid.cols.length">
                                        <textarea rows="3" placeholder="your text..." class="d-cell-input"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>


<div [formGroup]="formPage" *ngIf="isEditState" class="d-question-wrapper ">
    <div class="form-builder-controls">
        <div *ngIf="!!question.name">
            {{question.name}}
        </div>
        <div [formGroupName]="pageId" [ngSwitch]="question.controlType">
            <div *ngSwitchCase="'Textbox'" [formGroupName]="question.id">
                <div class="d-item-wrapper">
                    <div class="d-item-label">
                        <p class="d-label-text">Question text:</p>
                    </div>
                    <div class="d-item-content">
                        <input autofocus #texboxId class="d-input-textbox" [type]="text" [formControlName]="'name'" (keyup)="question.text = $event.target.value">
                    </div>
                </div>
                <div class="d-item-wrapper">
                    <div class="d-item-label">
                        <p class="d-label-text">Description:</p>
                    </div>
                    <div class="d-item-content">
                        <textarea rows="3" class="d-input-textarea" [formControlName]="'description'" (keyup)="question.text = $event.target.value"></textarea>
                    </div>
                </div>
                <br>
                <div class="d-item-wrapper">
                    <div class="d-item-label">
                        <p class="d-label-text"></p>
                    </div>
                    <div class="d-item-content">
                        <input class="d-input-textbox" disabled="true" value="">
                    </div>
                </div>
            </div>


            <div *ngSwitchCase="'Textarea'" [formGroupName]="question.id">
                <div class="d-item-wrapper">
                    <div class="d-item-label">
                        <p class="d-label-text">Question text:</p>
                    </div>
                    <div class="d-item-content">
                        <input autofocus class="d-input-textbox" [type]="text" [formControlName]="'name'" (keyup)="question.text = $event.target.value">
                    </div>
                </div>
                <div class="d-item-wrapper">
                    <div class="d-item-label">
                        <p class="d-label-text">Description:</p>
                    </div>
                    <div class="d-item-content">
                        <textarea rows="3" class="d-input-textarea" [formControlName]="'description'" (keyup)="question.text = $event.target.value"></textarea>
                    </div>
                </div>
                <br>
                <div class="d-item-wrapper">
                    <div class="d-item-label">
                        <p class="d-label-text"></p>
                    </div>
                    <div class="d-item-content">
                        <textarea class="d-input-textarea" disabled="true"></textarea>
                    </div>
                </div>
            </div>


            <div *ngSwitchCase="'Dropdown'" [formGroupName]="question.id">
                <div class="d-item-wrapper">
                    <div class="d-item-label">
                        <p class="d-label-text">Question text:</p>
                    </div>
                    <div class="d-item-content">
                        <input autofocus class="d-input-textbox" [type]="text" [formControlName]="'name'" (keyup)="question.text = $event.target.value">
                    </div>

                </div>
                <div class="d-item-wrapper">
                    <div class="d-item-label">
                        <p class="d-label-text">Description:</p>
                    </div>
                    <div class="d-item-content">
                        <textarea rows="3" class="d-input-textarea" [formControlName]="'description'" (keyup)="question.description = $event.target.value"></textarea>
                    </div>
                </div>
                <br>
                <div [formGroupName]="'options'" class="d-item-wrapper" *ngFor="let item of question.options; let i = index;">
                    <div class="d-item-label">
                        <p class="d-label-text">Item {{i + 1}}</p>
                    </div>
                    <div [formGroupName]="item.id" class="d-item-content">
                        <div class="d-repeat-item">

                            <input autofocus #inputCol class="d-input-textbox" [type]="text" [formControlName]="'name'" (keyup)="item.value = $event.target.value">
                            <button *ngIf="question.options.length > 1" (click)="deleteItem(i, question.options, item.id, question.id)" type="button">x</button>
                        </div>
                    </div>
                </div>
                <div class="d-item-wrapper">
                    <div class="d-item-label">
                    </div>
                    <div class="d-item-content">
                        <div class="d-repeat-item">
                            <input placeholder="Add new item..." class="d-input-textbox" (click)="addItem(question.options, question.id); $event.preventDefault();">
                        </div>
                    </div>
                </div>
            </div>


            <div *ngSwitchCase="'Radio'" [formGroupName]="question.id">
                <div class="d-item-wrapper">
                    <div class="d-item-label">
                        <p class="d-label-text">Question text:</p>
                    </div>
                    <div class="d-item-content">
                        <input autofocus class="d-input-textbox" [type]="text" [formControlName]="'name'" (keyup)="question.text = $event.target.value">
                    </div>
                </div>
                <div class="d-item-wrapper">
                    <div class="d-item-label">
                        <p class="d-label-text">Description:</p>
                    </div>
                    <div class="d-item-content">
                        <textarea rows="3" class="d-input-textarea" [formControlName]="'description'" (keyup)="question.description = $event.target.value"></textarea>
                    </div>
                </div>
                <div [formGroupName]="'options'" class="d-item-wrapper" *ngFor="let item of question.options; let i = index;">
                    <div class="d-item-label">
                        <p class="d-label-text">Item {{i + 1}}</p>
                    </div>
                    <div [formGroupName]="item.id" class="d-item-content">
                        <div class="d-repeat-item">
                            <button class="d-button-radio">
                                <i class="fa fa-circle-o"></i>
                            </button>
                            <input autofocus #inputCol class="d-input-textbox" [type]="text" [formControlName]="'name'" (keyup)="item.value = $event.target.value">
                            <button *ngIf="question.options.length > 1" (click)="deleteItem(i, question.options, item.id, question.id)" type="button">x</button>
                        </div>
                    </div>
                </div>
                <div class="d-item-wrapper">
                    <div class="d-item-label">

                    </div>
                    <div class="d-item-content">
                        <div class="d-repeat-item">
                            <button class="d-button-radio" style="color:transparent">
                                <i class="fa fa-circle-o"></i>
                            </button>
                            <input placeholder="Add new item..." class="d-input-textbox" (click)="addItem(question.options, question.id); $event.preventDefault()">
                        </div>
                    </div>
                </div>
            </div>


            <div *ngSwitchCase="'Checkbox'" [formGroupName]="question.id">
                <div class="d-item-wrapper">
                    <div class="d-item-label">
                        <p class="d-label-text">Question text:</p>
                    </div>
                    <div class="d-item-content">
                        <input autofocus class="d-input-textbox" [type]="text" [formControlName]="'name'" (keyup)="question.text = $event.target.value">
                    </div>
                </div>
                <div class="d-item-wrapper">
                    <div class="d-item-label">
                        <p class="d-label-text">Description:</p>
                    </div>
                    <div class="d-item-content">
                        <textarea rows="3" class="d-input-textarea" [formControlName]="'description'" (keyup)="question.description = $event.target.value"></textarea>
                    </div>
                </div>
                <div [formGroupName]="'options'" class="d-item-wrapper" *ngFor="let item of question.options; let i = index;">
                    <div class="d-item-label">
                        <p class="d-label-text">Item {{i + 1}}</p>
                    </div>
                    <div [formGroupName]="item.id" class="d-item-content">
                        <div class="d-repeat-item">
                            <button type="button" class="d-button-checkbox">
                                <i class="fa fa-square-o"></i>
                            </button>
                            <input autofocus #inputCol class="d-input-textbox" [type]="text" [formControlName]="'name'" (keyup)="item.value = $event.target.value">
                            <button *ngIf="question.options.length > 1" (click)="deleteItem(i, question.options, item.id, question.id)" type="button">x</button>
                        </div>
                    </div>
                </div>
                <div class="d-item-wrapper">
                    <div class="d-item-label">
                    </div>
                    <div class="d-item-content">
                        <div class="d-repeat-item">
                            <button class="d-button-radio" style="color:transparent">
                                <i class="fa fa-circle-o"></i>
                            </button>
                            <input placeholder="Add new item..." class="d-input-textbox" (click)="addItem(question.options, question.id); $event.preventDefault()">
                        </div>
                    </div>
                </div>
            </div>


            <div *ngSwitchCase="'GridRadio'" [formGroupName]="question.id">
                <div class="d-item-wrapper">
                    <div class="d-item-label">
                        <p class="d-label-text">Question text:</p>
                    </div>
                    <div class="d-item-content">
                        <input autofocus class="d-input-textbox" [type]="text" [formControlName]="'name'" (keyup)="question.text = $event.target.value">
                    </div>
                </div>
                <div class="d-item-wrapper">
                    <div class="d-item-label">
                        <p class="d-label-text">Description:</p>
                    </div>
                    <div class="d-item-content">
                        <textarea rows="3" class="d-input-textarea" [formControlName]="'description'" (keyup)="question.description = $event.target.value"></textarea>
                    </div>
                </div>
                <br>


                <div [formGroupName]="'rows'">
                    <div class="d-item-wrapper" *ngFor="let row of question.grid.rows; let i = index; last as isLast;">
                        <div class="d-item-label">
                            <p class="d-label-text">Row {{i + 1}} {{row.required}}</p>
                        </div>
                        <div [formGroupName]="row.id" class="d-item-content">
                            <div class="d-repeat-item">
                                <input autofocus #inputRow class="d-input-textbox" [formControlName]="'name'" [type]="text" (keyup)="row.value = $event.target.value">
                                <button *ngIf="question.grid.rows.length > 1" (click)="deleteRow(i, question, row.id); markQuestionAsChanged(true)" type="button">x</button>
                            </div>
                        </div>
                    </div>
                    <div class="d-item-wrapper">
                        <div class="d-item-label">
                        </div>
                        <div class="d-item-content">
                            <div class="d-repeat-item">
                                <input placeholder="Add new row..." class="d-input-textbox" (click)="addRow(question.grid.rows, question.id); $event.preventDefault()">
                            </div>
                        </div>
                    </div>
                </div>


                <br>
                <div [formGroupName]="'cols'">
                    <div class="d-item-wrapper" *ngFor="let col of question.grid.cols; let i = index;">
                        <div class="d-item-label">
                            <p class="d-label-text">Col {{i + 1}}</p>
                        </div>
                        <div [formGroupName]="col.id" class="d-item-content">
                            <div class="d-repeat-item">
                                <input autofocus #inputCol class="d-input-textbox" [type]="text" [formControlName]="'name'" (keyup)="col.value = $event.target.value">
                                <button *ngIf="question.grid.cols.length > 1" (click)="deleteCol(i, question, col.id)" type="button">x</button>
                            </div>
                        </div>
                    </div>
                    <div class="d-item-wrapper">
                        <div class="d-item-label">
                        </div>
                        <div class="d-item-content">
                            <div class="d-repeat-item">
                                <input placeholder="Add new col..." class="d-input-textbox" (click)="addCol(question.grid.cols, question.id); $event.preventDefault()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>