<div class="clbr--page">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 clbr--padding-reset">
                <div class="clbr--page-title">
                    Group management
                </div>
            </div>
        </div>
    </div>

    <div class="clbr--page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 clbr--padding-reset">
                    <div class="clbr--block-panel">


                        <div class="clbr--filter">
                            <p-fieldset legend="Filter"
                                [toggleable]="true">
                                <div class="form-group form-group-sm form--group-xs">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <input class="form-control"
                                                type="text"
                                                placeholder="global search">
                                        </div>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>

                        <div class="clbr--btn-inline">
                            <button class="btn btn-sm btn-default notification"
                                id="notification">
                                <i class="fa fa-file-o"></i>Add</button>
                            <button class="btn btn-sm btn-default notification"
                                id="notification">
                                <i class="fa fa-pencil"></i>Edit</button>
                            <button class="btn btn-sm btn-default notification"
                                id="notification">
                                <i class="fa fa-remove"></i>Remove</button>
                            <button class="btn btn-sm btn-default notification"
                                id="notification">Export</button>
                        </div>
                    </div>


                    <p-treeTable [value]="tbItems"
                        
                        [paginator]="true"
                        [rows]="10"
                        [totalRecords]="1000"
                        [loading]="tbLoading"
                        (onNodeExpand)="loadNodes($event)">

                        <ng-template pTemplate="header">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body"
                            let-rowNode
                            let-rowData="rowData">
                            <tr>
                                <td>
                                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                    {{rowData.id}}
                                </td>
                                <td>{{rowData.name}}</td>
                            </tr>
                        </ng-template>
                    </p-treeTable>


                    <!-- <p-treeTable [value]="files">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Name</th>
                                <th>Size</th>
                                <th>Type</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body"
                            let-rowNode
                            let-rowData="rowData">
                            <tr>
                                <td>
                                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                    {{rowData.name}}
                                </td>
                                <td>{{rowData.size}}</td>
                                <td>{{rowData.type}}</td>
                            </tr>
                        </ng-template>
                    </p-treeTable> -->
                </div>
            </div>
        </div>

    </div>
</div>