<div class="clbr--page">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 clbr--padding-reset">
                <div class="clbr--page-title">
                    Group management
                </div>
            </div>
        </div>
    </div>

    <div class="clbr--page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 clbr--padding-reset">
                    <div class="clbr--block-panel">


                        <div class="clbr--filter">
                            <p-fieldset legend="Filter" [toggleable]="true">
                                <div class="form-group form-group-sm form--group-xs">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <input class="form-control" type="text" placeholder="global search">
                                        </div>
                                    </div>                                
                                </div>
                            </p-fieldset>
                        </div>

                        <div class="clbr--btn-inline">
                            <button class="btn btn-sm btn-default notification" id="notification">
                                <i class="fa fa-file-o"></i>Add</button>
                            <button class="btn btn-sm btn-default notification" id="notification">
                                <i class="fa fa-pencil"></i>Edit</button>
                            <button class="btn btn-sm btn-default notification" id="notification">
                                <i class="fa fa-remove"></i>Remove</button>
                            <button class="btn btn-sm btn-default notification" id="notification">Export</button>
                        </div>
                    </div>

                    
                    <p-treeTable [value]="tbItems" [columns]="tbCols" [paginator]="true" [rows]="10" [lazy]="true" 
                        (onLazyLoad)="loadNodes($event)" [totalRecords]="1000" [loading]="tbLoading" (onNodeExpand)="onNodeExpand($event)">
                        
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns; let i = index">
                                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-treeTable>

                </div>
            </div>
        </div>

    </div>
</div>