<div class="clbr--page container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="clbr--page-title">
                <div class="text">Group management</div>
                <div class="description">List of groups in the system</div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="clbr--block-description-v1">
                <span>Description: List groups</span>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-12">
            <div class="clbr--block-content">

                <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="clbr--block-btns-v1">
                            <button class="clbr--btn-default btn btn-sm btn-default"
                                (click)="createGroup()">
                                <i class="fa fa-file-o"></i>
                                Create
                            </button>
                            <button class="clbr--btn-default btn btn-sm btn-default"
                                [attr.disabled]="!selectedNode ? '' : null"
                                (click)="goToGroupView(selectedNode.data.id)">
                                <i class="fa fa-pencil"></i>
                                Edit
                            </button>
                            <button class="clbr--btn-default btn btn-sm btn-default"
                                [attr.disabled]="!selectedNode ? '' : null"
                                (click)="removeGroup(selectedNode.data)">
                                <i class="fa fa-remove"></i>
                                Remove
                            </button>
                        </div>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="clbr--table clbr--table-tree">
                            <p-treeTable [value]="tbItems"
                                selectionMode="single"
                                dataKey="id"
                                [(selection)]="selectedNode"
                                [paginator]="true"
                                [rows]="10"
                                [totalRecords]="1000"
                                [loading]="tbLoading"
                                (onNodeExpand)="onNodeExpand($event)"
                                (onNodeSelect)="onNodeSelect($event)"
                                (onNodeUnselect)="onNodeUnselect($event)"
                                [(selection)]="selectedNode">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <!-- <th class="splitter"></th> -->
                                        <th class="border-right-none"
                                            style="width: 400px;">Group name</th>
                                        <th class="border-right-none border-left-none"
                                            style="width: 200px;">Num of subscribers</th>
                                        <th class="border-left-none">Description</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body"
                                    let-rowNode
                                    let-rowData="rowData">
                                    <tr [ttSelectableRow]="rowNode">
                                        <!-- <td></td> -->
                                        <td class="border-right-none">
                                            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                            {{rowData.name}}
                                        </td>
                                        <td class="border-left-none border-right-none">0</td>
                                        <td class="border-left-none">some description</td>

                                    </tr>
                                </ng-template>
                            </p-treeTable>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>

</div>

<group-dialog-create-cmp [config]="dialogGroupCreateConfig"
    (onChange)="dialogGroupCreateOnChange($event)"
    (onCancel)="dialogGroupCreateOnCancel($event)"
    (onHide)="dialogGroupCreateOnHide($event)">
</group-dialog-create-cmp>

<p-confirmDialog #cd
    icon="pi pi-exclamation-triangle"
    class="clbr--dialog-confirm-v1"
    header="Attention">
    <p-footer>
        <button class="clbr--btn-default btn btn-sm btn-default notification"
            (click)="cd.accept()">
            <i class="fa fa-check"></i>Confirm</button>
        <button class="clbr--btn-default btn btn-sm btn-default notification"
            (click)="cd.reject()">
            <i class="fa fa-remove"></i>Cancel</button>
    </p-footer>
</p-confirmDialog>