<p-dialog header="Member creation"
    class="clbr--p-dialog-v1"
    minWidth="500"
    width="500"
    showEffect="fade"
    [responsive]="true"
    [modal]="true"
    [resizable]="true"
    [maximizable]="true"
    (onHide)="dialogHide($event)"
    [(visible)]="dialogConfig.visible">

    <div class="cmp-member-dialog-create row">
        <div class="col-md-12">

            <div #ngFormGroup="ngForm"
                [formGroup]="formGroup"
                class="clbr--form-horizontal form needs-validation"
                role="form">
                <div class="clbr--form-group form-group form-group-sm">
                    <mat-form-field class="clbr--mat-form-field clbr--mat-form-field-full-width cmp--mat-form-field-import">
                        <input matInput formControlName="importData" style="display: none;">
                        <p-fileUpload matPrefix
                            accept=".csv,.xlsx"
                            mode="basic" name="demo[]" maxFileSize="1000000"
                            (onSelect)="onSelect($event)"
                            auto="false" chooseLabel="Choose File">
                        </p-fileUpload>
                        <span *ngIf="fileName" class="cmp--file-name" matPrefix>{{ fileName }}<i class="fa fa-close"></i></span>
                        <button matSuffix
                            matTooltip="Download templates" matTooltipClass="TestMatTooltipClass" matTooltipPosition="right"
                            class="cmp--btn-import-tmp btn btn-sm btn-default notification"
                            (click)="getTemplates()">
                            <i class="fa fa-download"></i>
                        </button>
                        <mat-error *ngIf="formGroup.get('importData').hasError('required') && formGroup.get('importData').touched">
                            The file type is not correct or list data is emplty (allowed file types: .csv, .xlsx)
                        </mat-error>
                        <mat-hint align="end">Import from file (csv/xlsx)</mat-hint>
                    </mat-form-field>
                </div>

                <div *ngFor="let item of formGroup.controls['emailArray'].controls" class="clbr--form-group form-group form-group-sm">
                    <mat-form-field [formGroup]="item" class="clbr--mat-form-field clbr--mat-form-field-full-width">
                        <input #ctrlName matInput maxlength="100" placeholder="email" formControlName="email" (focus)="addNewControl(item)">
                        <button *ngIf="formGroup.controls['emailArray'].controls.length!=getIndex(item)" tabindex="-1" matSuffix class="cmp--btn-import-btn-email btn btn-sm btn-default notification" (click)="removeEmail(item)">
                            <i class="fa fa-close"></i>
                        </button>
                        <mat-error *ngIf="item.get('email').hasError('required') && item.get('email').touched">
                            Value is required
                        </mat-error>
                        <!-- <mat-hint align="end">maximum length - {{ctrlName.value.length}} / 100</mat-hint> -->
                    </mat-form-field>
                </div>

            </div>
        </div>
    </div>

    <p-footer>
        <button class="clbr--btn-default clbr--background-image-without btn btn-sm btn-default notification"
            (click)="dialogCancel()">CANCEL</button>
        <button class="clbr--btn-default btn btn-sm btn-default notification pull-right"
            (click)="formSubmit()">SAVE CHANGES</button>
    </p-footer>

</p-dialog>

<p-growl styleClass="clbr--growl-icon-none"
    [life]="5000">
</p-growl>