<div id="d-builder-header">
    <div class="d-left-bar">
        <div class="d-buttons-operation">
            <button class="d-open-survey-button" [ngClass]='{"d-disabled-button": !surveyId}' [attr.title]="!surveyId ? 'Disabled (Before create survey)' : 'Go to online survey'"
                type="button" [disabled]="!surveyId" (click)="GoToSurvey()">
                <i class="fa fa-file"></i>
                <p>Look & Test</p>
            </button>
            <button class="d-open-survey-button" [ngClass]='{"d-disabled-button": !surveyId}' [attr.title]="!surveyId ? 'Disabled (Before create survey)' : 'Look at responses'"
                type="button" [disabled]="!surveyId" (click)="GoToReport()">
                <i class="fa fa-database"></i>
                <p>View responses</p>
            </button>
            <button class="d-open-survey-button" [ngClass]='{"d-disabled-button": !surveyId}' [attr.title]="!surveyId ? 'Disabled (Before create survey)' : 'Adding the protec to link'"
            type="button" [disabled]="true" (click)="Distribution()">
            <i class="fa fa-handshake-o"></i>
            <p>Distributions</p>
        </button>
        </div>







    </div>
    <div class="d-right-bar">
        <div class="d-buttons-operation">
            <button *ngIf="isValidForm && !surveyId" class="d-save-button" (click)="saveSurvey()" title="Create" type="button">
                <i class="fa fa-save"></i>
            </button>
            <button *ngIf="isValidForm && surveyId" class="d-update-button" (click)="saveSurvey()" title="Update" type="button">
                <i class="fa fa-pencil"></i>
            </button>
            <button *ngIf="!isValidForm" class="d-envalid-form-button" title="Show Notifications" type="button">
                <i class="fa fa-flag"></i>
            </button>
        </div>
    </div>
</div>
<div id="d-builder-wrapper">
    <div *ngIf="isPageBuilder" id="d-builder-widgets">
        <div class="d-builder-widgets-header">
            <p class="d--text-tools-header"> Toolbox</p>
        </div>
        <div class="d-builder-widgets-body">
            <p-accordion [multiple]="true">
                <p-accordionTab header="Basic Question" [selected]="true">
                    <div class="d-panel-sortable">
                        <smooth-dnd-container class="d--repeat-allow-question-wrapper" [dragClass]="'dragQuestoinType'" [dropClass]="'dragQuestoinType'"
                            [behaviour]="'copy'" [groupName]="'1'" [getChildPayload]="getChildPayload">
                            <smooth-dnd-draggable *ngFor="let control of questionTemplates; let index = index">
                                <div class="d--repeat-allow-question">
                                    <div class="repeat-block_1">
                                        <p class="icon fa {{control.icon}}" href="#"></p>
                                    </div>
                                    <div class="repeat-block_2">
                                        <div id="outer">
                                            <div id="inner">
                                                <p class="d--mainText">{{control.name}}</p>
                                                <p class="d--descriptionText">{{control.description}}.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </smooth-dnd-draggable>
                        </smooth-dnd-container>
                    </div>
                    <!-- <div [ngStyle]="{'marginLeft': '50px', 'flex': '1'}">
                        <smooth-dnd-container [groupName]="'1'" [getChildPayload]="questionTemplates" (drop)="onDrop('items2', $event)">
                            <smooth-dnd-draggable *ngFor="let question of templateOptions.questionTemplates;">
                                <div class="draggable-item">
                                    {{question.name}}
                                </div>
                            </smooth-dnd-draggable>
                        </smooth-dnd-container>
                    </div> -->
                    <!-- <div dnd-sortable-container [sortableData]="templateOptions.questionTemplates" [dropZones]="['container-dropZone']">
                        <div *ngFor="let question of templateOptions.questionTemplates; let i = index" dnd-sortable [sortableIndex]="i" [dragEnabled]="false">
                            <div class="d-panel-sortable" dnd-sortable-container [sortableData]="questionTemplates" [dropZones]="[question.dropZone]">
                                <div *ngFor="let control of templateOptions.questionTemplates; let x = index">
                                    <div *ngIf="i == x" class="d--repeat-allow-question-wrapper" (dragend)="dragEndQuestionTemplate($event, control)" (onDropSuccess)="deleteDragQuestion($event)"
                                        dnd-sortable [sortableIndex]="x" [dragEnabled]="true" [dragData]="control">
                                        <div class="d--repeat-allow-question">
                                            <div class="repeat-block_1">
                                                <p class="icon fa {{control.icon}}" href="#"></p>
                                            </div>
                                            <div class="repeat-block_2">
                                                <div id="outer">
                                                    <div id="inner">
                                                        <p class="d--mainText">{{control.name}}</p>
                                                        <p class="d--descriptionText">{{control.description}}.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </p-accordionTab>
                <p-accordionTab header="Advanced Question" [selected]="false">
                    <!-- <button (click)="changeData()">change form data</button> -->
                    <div *ngIf="isFormValid">
                        <!-- {{isFormValid | json}} -->
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Additional Controls" [selected]="true">
                    <!-- <pre>{{templateOptions.questionTemplates | json}}</pre> -->
                </p-accordionTab>
                <p-accordionTab header="Another Controls">
                    <!-- <pre>{{survey | json}}</pre> -->
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>

    <div *ngIf="!isPageBuilder" id="d-builder-widgets-rolled">
        <div class="rolled-wrapper">
            <p>Toolbox</p>
        </div>
    </div>


    <div class="d-builder-body" [ngClass]='{"d-builder-body-changed": !isPageBuilder}'>
        <form-builder [(survey)]="survey" *ngIf="page && templateOptions && pagingList" [isUpdateSurvey]="surveyId" [isPageBuilder]="isPageBuilder" [pagingList]="pagingList" [page]="page"
            (formState)="checkstate($event)" [templateOptions]="templateOptions" [(numericPageFrom)]="startNumericPageFrom"></form-builder>
    </div>

</div>

<!-- <div class="d-notification-wrapper">
    <div class="d-notification"></div>
</div> -->