<!-- page -->
<div class="cmp--member-manage">

    <!-- page-navigation -->
    <div class="row">
        <div class="col-md-12">
            <div class="clbr--page-navigation">
                <nav class="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <button class="clbr--mat-raised-button-v1 clbr--mat-raised-button-primary" (click)="dialogCreateOpen()" mat-raised-button>ADD MEMBER(S)</button>
                            <button class="clbr--mat-raised-button-v1 clbr--mat-raised-button-primary" mat-raised-button>ADD ADMINISTRATOR</button>
                        </li>
                    </ul>                    
                </nav>
            </div>
        </div>
    </div>

    <!-- page-content -->
    <div class="row">
        <div class="col-md-12">
            <div class="clbr--page-content">
                <cmp-member-data-grid>
                </cmp-member-data-grid>
            </div>
        </div>
    </div>

</div>


<cmp-member-dialog-create
    [config]="dialogCreateConfig"
    (onChange)="dialogCreateOnChange($event)"
    (onCancel)="dialogCreateOnCancel($event)"
    (onHide)="dialogCreateOnHide($event)">
</cmp-member-dialog-create>