<div>Welcome</div>
<button class="btn btn-sm btn-default notification" id="notification">Notification</button>

<div *ngIf="surveys">
    <div *ngFor="let item of surveys">
        <a [routerLink]="['/surveys/' + item.id]">{{item.name}} + {{item.id}}</a>
    </div>
</div>
/////////////
<a [routerLink]="['/surveys/create']">new survey</a>

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
<div *ngIf="surveys">
    <div *ngFor="let item of surveys">
        <a [routerLink]="['/surveys/builder/' + item.id]">{{item.name}} + {{item.id}}</a>
    </div>
</div>
//////////
<a [routerLink]="['/surveys/builder']">new survey</a>

<p>SURVEY REPORT LINKS</p>

<div *ngIf="surveys">
        <div *ngFor="let item of surveys">
            <a [routerLink]="['/surveys/report/' + item.id]">{{item.name}} + {{item.id}}</a>
        </div>
    </div>