<p-dialog header="Group create" minWidth="500" showEffect="fade" [responsive]="true" [modal]="true" [resizable]="true" (onHide)="dialogHide($event)"
    [(visible)]="dialogConfig.visible">

    <form-group-create-cmp #ctrlFormGroupCreate
        [config]="formGroupConfig"
        (onChange)="formGroupOnChange($event)">
    </form-group-create-cmp>

    <p-footer>
        <button class="btn btn-sm btn-default notification" (click)="formSave()">
            <i class="fa fa-check"></i>Save</button>
        <button class="btn btn-sm btn-default notification" (click)="dialogCancel()">
            <i class="fa fa-remove"></i>Cancel</button>
    </p-footer>
</p-dialog>