<div class="cmp-form-group-creat row">
    <div class="col-md-12">

        <form class="form-horizontal needs-validation" role="form" #formGroupMemberAdd="ngForm" [formGroup]="formGroup">

            <div class="form-group form-group-sm form--group-xs">
                <label class="col-md-2 control-label" for="name">Members</label>
                <div class="col-md-9">
                    <p-chips formControlName="members"></p-chips>                    
                    <span class="valid-feedback" *ngIf="formGroup.get('members').hasError('required') && formGroup.get('members').touched || formGroup.get('members').hasError('required') && !formIsValid">
                        Value is required
                    </span>
                </div>
            </div>

        </form>

    </div>
</div>