<div class="cmp-group-data-grid">
    <div class="row">
        <div class="col-md-12">
            <div class="clbr--block-options">
                <div class="input-group">
                    <cmp-group-data-filter>
                    </cmp-group-data-filter>
                    
                    <span class="input-group-addon">
                        <button class="btn btn-sm btn-default notification" (click)="dtGroups.reset()">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <button class="btn btn-sm btn-default notification" (click)="dtGroups.exportCSV()">
                            <i class="fa fa-download"></i>
                        </button>
                            <p-multiSelect [options]="tbColumns" [filter]="selectF" [(ngModel)]="tbSelectedColumns" optionLabel="header"
                                selectedItemsLabel="{0} columns selected" defaultLabel="Choose Columns">
                            </p-multiSelect>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="clbr--ui-table clbr--ui-table-v1">
                
                <p-table #dtGroups
                    selectionMode="single"
                    [columns]="tbSelectedColumns"
                    [value]="tbItems"
                    [paginator]="true"
                    [rows]="10"
                    [rowsPerPageOptions]="[2,10,20]"
                    [totalRecords]="tbTotalItemCount"
                    [loading]="tbLoading"
                    [lazy]="true"
                    (onLazyLoad)="tb_loadItems($event)">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="width: 400px;" class="border-right-none">
                                {{col.header}}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th>
                            <th class="border-left-none border-right-none">Description</th>
                            <th class="border-left-none border-right-none">Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns" class="border-right-none">
                                {{rowData[col.field]}}
                            </td>
                            <td class="border-left-none border-right-none">some description</td>
                            <td class="border-left-none border-right-none">
                                <button matTooltip="Edit group" matTooltipClass="TestMatTooltipClass" matTooltipPosition="right" class="clbr-tb-action-btn btn btn-sm btn-default notification" (click)="item_edit(rowData.id)">
                                    <mat-icon class="filter-icon">edit</mat-icon>
                                </button>
                                <button matTooltip="Delete group" matTooltipClass="TestMatTooltipClass" matTooltipPosition="right" class="clbr-tb-action-btn btn btn-sm btn-default notification" (click)="item_delete(rowData.id)">
                                    <mat-icon class="filter-icon" >delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
    </div>
</div>