<!-- page -->
<div class="cmp--group-create clbr--page-v1">
    <div class=" container-fluid">

        <!-- page--navigation -->
        <div class="row">
            <div class="col-md-12">
                <div class="clbr--page--title">New Organizations</div>
            </div>
        </div>

        <!-- page--content -->
        <div class="row">
            <div class="col-md-12">
                <div class="clbr--page--content">
                    <cmp-group-form-create></cmp-group-form-create>
                </div>
            </div>
        </div>

    </div>
</div>