<!-- page -->
<div class="cmp--group-create clbr--page-v1">
    <div class=" container-fluid">

        <!-- page--navigation -->
        <div class="row">
            <div class="col-md-12">
                <div class="clbr--page--title">Create a new organizations</div>
                <div class="clbr--page--description">These permissions affect this organization and all sub-organization in the system.</div>                
            </div>
        </div>

        <!-- page--content -->
        <div class="row">
            <div class="col-md-12">
                <div class="clbr--page--content">
                    <cmp-group-form-create></cmp-group-form-create>
                </div>
            </div>
        </div>

    </div>
</div>