<div id="d-builder-wrapper">


    <div id="d-builder-widgets">
        <div class="d-builder-widgets-header">
            <p class="d--text-tools-header"> Toolbox</p>

        </div>
        <div class="d-builder-widgets-body">
            <p-accordion [multiple]="true">
                <p-accordionTab header="Basic Question" [selected]="true">
                    <pre>{{availableQuestions | json}}</pre>
                    <!-- <input type="checkbox" [(ngModel)]="dragOperation" /> -->
                    <div dnd-sortable-container [sortableData]="availableQuestionsOption.availableQuestions" [dropZones]="['container-dropZone']">
                        <div *ngFor="let question of availableQuestionsOption.availableQuestions; let i = index" dnd-sortable [sortableIndex]="i"
                            [dragEnabled]="dragOperation">

                            <div class="d-panel-sortable" dnd-sortable-container  [sortableData]="availableQuestions" [dropZones]="[question.dropZonesName]">


                                <div style="background:green" *ngFor="let widget of availableQuestionsOption.availableQuestions; let x = index">
                                    <div *ngIf="i == x" class="d--repeat-allow-question-wrapper" (dragend)="onDragEnd8($event, widget)" (onDropSuccess)="removeDragQuestion($event)" dnd-sortable [sortableIndex]="x"
                                        [dragEnabled]="!dragOperation" [dragData]="widget">
                                        <div class="d--repeat-allow-question">
                                            <!-- {{widget.name}} -->

                                            <div class="repeat-block_1">
                                                <p class="icon fa {{widget.icon}}" href="#"></p>
                                            </div>

                                            <div class="repeat-block_2">
                                                <!-- <div class="werw">
                                                        <p>111</p>
                                                        <p>222</p>
                                                </div> -->
                                                <!-- <div class="parent">
                                                    <div class="child">
                                                        Test Test Test <br/> Test Test Test <br/> Test Test Test
                                                    </div>
                                                </div> -->
                                                <div id="outer">
                                                    <div id="inner">
                                                        <p class="d--mainText">{{widget.name}}</p>
                                                        <p class="d--descriptionText">{{widget.description}}.</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Advanced Question" [selected]="false">

                </p-accordionTab>
                <p-accordionTab header="Additional Controls" [selected]="true">
                    <pre>{{temporaryAnser | json}}</pre>
                </p-accordionTab>
                <p-accordionTab header="Another Controls">
                    Content 4
                </p-accordionTab>
            </p-accordion>

            <!-- <pre>{{questions | json}}</pre>
            <pre>{{temporaryAnser | json}}</pre> -->
        </div>



    </div>
    <div id="d-builder-body">
        <div class="d-builder-body-header">
            <paging [items]='widgets'></paging>
        </div>
        <div class="d-builder-body-content">

            <!-- <div class="col-sm-12"> -->
            <!-- <div class="panel panel-info"> -->
            <!-- <div class="panel-heading">Form builder </div> -->

            <survey-from-builder [questions]="questions" [questionSettings]="availableQuestionsOption" (temporaryAnser)="temporaryAnser = $event"></survey-from-builder>

            <!-- </div> -->
            <!-- </div> -->
        </div>

    </div>
    <div id="d-builder-option">
        <question-option></question-option>
        <pre>{{questions | json}}</pre>
    </div>
</div>