<div id="d-builder-wrapper">


    <div id="d-builder-widgets">

        <div class="col-sm-12">
            Drag availableQuestions
            <input type="checkbox" [(ngModel)]="dragOperation" />
            <div dnd-sortable-container (onDropSuccess)="onDragEnd9($event)" [sortableData]="availableQuestions" [dropZones]="['container-dropZone']">
                <div class="col-sm12" *ngFor="let question of availableQuestionsOption.availableQuestions; let i = index" dnd-sortable [sortableIndex]="i"
                    [dragEnabled]="dragOperation">

                    <div class="panel panel-warning" dnd-sortable-container (dragend)="onDragEnd8($event)" [sortableData]="availableQuestions"
                        (onDropSuccess)="dragEnd9($event)" [dropZones]="[question.dropZonesName]">

                        <div class="panel-body">
                            <ul class="list-group">
                                <div *ngFor="let widget of availableQuestionsOption.availableQuestions; let x = index">
                                    <li *ngIf="i == x" class="list-group-item" (onDropSuccess)="removeDragQuestion($event)" dnd-sortable [sortableIndex]="x" [dragEnabled]="!dragOperation"
                                        [dragData]="widget">
                                        {{widget.name}}
                                    </li>
                                </div>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="d-builder-body">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">Form builder </div>

                <survey-from-builder [questions]="questions" [questionSettings]="availableQuestionsOption" (temporaryAnser)="temporaryAnser = $event"></survey-from-builder>
             
            </div>
        </div>
    </div>
    <div id="d-builder-option">
        <pre>{{questions | json}}</pre>
        <pre>{{temporaryAnser | json}}</pre>
    </div>
</div>




