.cmp-member-dialog-create {
    padding: 20px;
    .cmp--bloack-email-array { max-height: 300px; height: 300px; overflow: auto; }
    .cmp--mat-form-field-email-value { 
        ::ng-deep.mat-form-field-label-wrapper { display: none; }
        ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-wrapper { padding-bottom: 0px; }
        // ::ng-deep.mat-form-field-wrapper { padding-bottom: 0px; }
    }
    .cmp--form-group-email-value { margin-bottom: 0px; }
    .cmp--mat-form-field-import {
        
        .cmp--btn-import-tmp {
            vertical-align: bottom;
            margin-bottom: 3px;
            margin: 2px;
            font-size: 11px;
            padding: 3px 5px;
        }
        .cmp--file-name {
            display: inline-block;
            vertical-align: top;
            padding-left: 5px;
            padding-top: 7px;
            font-size: 12px
        }
        .cmp--file-name .fa {
            padding: 3px 8px;
            font-size: 11px;
            color: #666;
        }
        
        ::ng-deep.mat-form-field-infix { padding: 0; }
        ::ng-deep.ui-button-icon-left { display: none; }
        ::ng-deep.ui-button {
            border-color: #ccc;
            background-image: -o-linear-gradient(top, #F9F9F9 0, #e5e5e5 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#e5e5e5));
            background-image: linear-gradient(to bottom, #F9F9F9 0, #e5e5e5 100%);
            color: #333;
            font-size: 12px; 
        }
        ::ng-deep.ui-button:hover { 
            background-image: -o-linear-gradient(top, #ECECEC 0, #CCCCCC 100%) !important;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#ECECEC), to(#CCCCCC)) !important;
            background-image: linear-gradient(to bottom, #ECECEC 0, #CCCCCC 100%) !important;
        }
        ::ng-deep.ui-button-text {
            padding: .25em 1em .25em 1em;
            
        }
        p-fileupload {
            display: inline-block;
            margin: 2px 2px 0px 3px;
            height: 24px;
        }
    }

    .cmp--mat-form-field-values {
        width: 100%;
        ::ng-deep.mat-form-field-label-wrapper { display: none; }
    }

    .cmp--btn-import-btn-email {
        margin: 2px;
        font-size: 11px;
        padding: 3px 5px;
    }
}