<div class="clbr--page container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="clbr--page-title">
                <div class="text">Group management</div>
                <div class="description">List of groups in the system, list of groups in the system</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="clbr--block-content">

                <div class="row">
                    <div class="col-md-12">
                        <div class="clbr--block-btns-v1">
                            <span>
                                <button class="clbr--btn-default btn btn-sm btn-default" (click)="createGroup()">
                                    Create new grpoup
                                </button>
                                <button class="clbr--btn-default btn btn-sm btn-default" (click)="createGroup()">
                                    Remove
                                </button>
                            </span>
                            <span class="pull-right">
                                <p-dropdown [options]="view_OptionList" [(ngModel)]="view_Option" [style]="{'width':'150px'}">
                                    <ng-template let-item pTemplate="selectedItem">                                        
                                        view option: <span style="font-weight: 500; font-size: 12px; padding-left: 5px;">{{item.label}}</span> 
                                    </ng-template>
                                </p-dropdown>
                            </span>
                        </div>
                    </div>
                </div>

                <div [ngSwitch]="view_Option">
                    <div *ngSwitchCase="'list'">
                        <cmp-group-data-grid>
                        </cmp-group-data-grid>
                    </div>
                    <div *ngSwitchCase="'tree'">                        
                        <cmp-group-data-tree>
                        </cmp-group-data-tree>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<group-dialog-create-cmp [config]="dialogGroupCreateConfig" (onChange)="dialogGroupCreateOnChange($event)" (onCancel)="dialogGroupCreateOnCancel($event)"
    (onHide)="dialogGroupCreateOnHide($event)">
</group-dialog-create-cmp>

<!-- <p-confirmDialog #cd
    icon="pi pi-exclamation-triangle"
    class="clbr--dialog-confirm-v1"
    header="Attention">
    <p-footer>
        <button class="clbr--btn-default btn btn-sm btn-default notification"
            (click)="cd.accept()">
            <i class="fa fa-check"></i>Confirm</button>
        <button class="clbr--btn-default btn btn-sm btn-default notification"
            (click)="cd.reject()">
            <i class="fa fa-remove"></i>Cancel</button>
    </p-footer>
</p-confirmDialog> -->