<div class="clbr--page container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="clbr--page-title">
                <div class="text">Group management</div>
                <div class="description">List of groups in the system, list of groups in the system</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="clbr--block-content">

                <div class="row">
                    <div class="col-md-12">
                        <div class="clbr--block-btns-v1">
                            <div>
                                <button class="clbr--btn-default btn btn-sm btn-default"
                                    (click)="createGroup()">
                                    Create new grpoup
                                </button>
                            </div>
                            <div class="pull-right">
                                <p-dropdown [options]="view_OptionList"
                                    [(ngModel)]="view_Option">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>

                <cmp-group-data-filter>
                </cmp-group-data-filter>

                <div class="row">
                    <div class="col-md-12">
                        <div class="clbr--block-search">
                            <div class="input-group">
                                <span class="input-group-addon clbr-search-icon"
                                    id="basic-addon1">
                                    <mat-icon>find_in_page</mat-icon>
                                </span>
                                <input type="text"
                                    class="form-control clbr-search-input"
                                    placeholder="search query"
                                    aria-describedby="basic-addon1">
                                <!-- <span class="input-group-addon" id="basic-addon2">@example.com</span>
                                    <span class="input-group-addon" id="basic-addon2">@example.com</span> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div [ngSwitch]="view_Option">
                    <div *ngSwitchWhen="'list'">
                        List
                    </div>
                    <div *ngSwitchWhen="'tree'">
                        <cmp-group-data-tree>
                        </cmp-group-data-tree>>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="clbr--table clbr--table-tree">
                            <p-treeTable [value]="tbItems"
                                selectionMode="single"
                                dataKey="id"
                                [(selection)]="selectedNode"
                                [paginator]="true"
                                [rows]="2"
                                [rowsPerPageOptions]="[2,10,20]"
                                [totalRecords]="tbTotalItemCount"
                                [loading]="tbLoading"
                                [lazy]="true"
                                (onNodeExpand)="onNodeExpand($event)"
                                (onNodeSelect)="onNodeSelect($event)"
                                (onLazyLoad)="loadNodes($event)"
                                (onNodeUnselect)="onNodeUnselect($event)"
                                [(selection)]="selectedNode">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <!-- <th class="splitter"></th> -->
                                        <th class="border-right-none"
                                            ttSortableColumn="Name"
                                            style="width: 400px;">
                                            Group name
                                            <p-treeTableSortIcon [field]="Name"></p-treeTableSortIcon>
                                        </th>
                                        <th class="border-right-none border-left-none"
                                            style="width: 200px;">Num of subscribers
                                        </th>
                                        <th class="border-left-none">Description</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body"
                                    let-rowNode
                                    let-rowData="rowData">
                                    <tr [ttSelectableRow]="rowNode">
                                        <!-- <td></td> -->
                                        <td class="border-right-none">
                                            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                            {{rowData.name}}
                                        </td>
                                        <td class="border-left-none border-right-none">0</td>
                                        <td class="border-left-none">some description</td>

                                    </tr>
                                </ng-template>
                            </p-treeTable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<group-dialog-create-cmp [config]="dialogGroupCreateConfig"
    (onChange)="dialogGroupCreateOnChange($event)"
    (onCancel)="dialogGroupCreateOnCancel($event)"
    (onHide)="dialogGroupCreateOnHide($event)">
</group-dialog-create-cmp>

<p-confirmDialog #cd
    icon="pi pi-exclamation-triangle"
    class="clbr--dialog-confirm-v1"
    header="Attention">
    <p-footer>
        <button class="clbr--btn-default btn btn-sm btn-default notification"
            (click)="cd.accept()">
            <i class="fa fa-check"></i>Confirm</button>
        <button class="clbr--btn-default btn btn-sm btn-default notification"
            (click)="cd.reject()">
            <i class="fa fa-remove"></i>Cancel</button>
    </p-footer>
</p-confirmDialog>