.cmp--user-grid {
    
}

.clbr-tb-action-btn {

    margin-right: 10px;
    border-radius: 25px;
    padding: 0;
    width: 25px;
    height: 25px;
    box-shadow: none;
    background-image: none;
    border: 4px solid #fff;
    background-color: #777;
    transition : border 500ms ease-out;

    .mat-icon {
        font-size: 13px;
        height: 13px;
        width: 13px;
        vertical-align: initial;
        color: transparent;
        text-shadow: 0 1px 0 #ebebeb; 
    }
    
    &:hover {
        border: 4px solid #fff !important;
    }


}