<div class="d-builder-body-header">
    <paging-form *ngIf="pagingList" [pagingList]="pagingList" [pageId]="page.id" [formPage]="formPage"></paging-form>
</div>
<div class="d-builder-body-content">
    <div *ngIf="isPageBuilder" class="body-question-builder">
        <div class="header">
            <!-- <pre>{{formPage.value | json}}</pre> -->



            <!-- <pre>{{page.questions | json}}</pre> ++++++++++++++++++++++ -->
            <!-- {{formPage.value | json}} -->
            <!-- <p *ngIf="formPage.valid" style="color: green; font-weight: bold"> {{formPage.valid | json}}</p>
                <p *ngIf="!formPage.valid" style="color: red; font-weight: bold"> {{formPage.valid | json}}</p> -->
        </div>
        <div class="body">

            <!-- <pre>{{page | json}}</pre> -->
            <form (ngSubmit)="onSubmit()" [formGroup]="formPage">
                <div class="question-list" dnd-sortable-container [dropZones]="templateOptions.dragTemplateZones" [sortableData]="page.questions">
                    <ul class="d-list-group">
                        <!-- <div *ngIf="page.questions.length == 0">
                            <li *ngFor="let item of [1]; let i = index" class="d-repeat-question" [dragData]="item" style="height: 100px; border: 1px dashed #324464;"
                                dnd-sortable [dragEnabled]="false" [sortableIndex]="i">
                                <div class="d-question-wrapp" style="height: 100px" dnd-droppable (onDropSuccess)="!!$event.dragData.name ? addQuestion($event, i) : sortQuestion($event, i)"
                                    [dropZones]="templateOptions.dragTemplateZones"></div>
                            </li>
                        </div> -->
                        <div *ngIf="page.questions.length == 0">
                            <smooth-dnd-container class="d-drag-conteiner" [groupName]="'1'" [getChildPayload]="getQuestionPayload" (drop)="onDrop($event)">
                                <!-- <smooth-dnd-draggable class="d-question-wrapp" *ngFor="let item of [1];">
                                                <div style="height: 100px;  background-color:green"></div>
                                        </smooth-dnd-draggable> -->
                                <!-- <div style="display: block; background-color: green; height: 100px;"> </div> -->
                                <!-- <div class="smooth-dnd-container vertical" style="height: 100px;">
                                        </div> -->
                                <div class="flex-container">
                                    <div class="row">
                                        <span class="flex-item">Please drop a question here from the Toolbox on the left.</span>
                                    </div>
                                </div>
                            </smooth-dnd-container>
                        </div>
                        <div *ngIf="page.questions.length > 0" style="margin: 6px; background-color:#fdf4bf">
                            <smooth-dnd-container [groupName]="'1'" [getChildPayload]="getQuestionPayload" (drop)="onDrop($event)">

                                <smooth-dnd-draggable class="d-question-wrapp" *ngFor="let item of page.questions; let i = index">
                                    <div style="height: 3px;  background-color:#fff"></div>
                                    <div class="d-repeat-question" [ngClass]='{"d-edit-repeat-question": selectQuestion == item.id}'>
                                        <div class="d-question-wrapp">
                                            <div class="d-item-left-section">
                                                <div class="d-item-opt-controls">
                                                    <input id="etitState" [checked]="selectQuestion == item.id" #editCheckbox  type="checkbox" value="false" (change)="setQuestionOption(item, editCheckbox.checked); editCheckbox.checked ? selectQuestion = item.id: selectQuestion = ''">
                                                    <label for="etitState"> {{'Q' + (numericPageFrom + (i + 1))}}</label>
                                                </div>
                                            </div>
                                            <div class="d-item-right-section">
                                                <question-form-builder [pageId]="page.id" [isSingleControl]="isOneTotalQuestions() && isUpdateSurvey" [isEditState]="editCheckbox.checked" [question]="item" [formPage]="formPage"></question-form-builder>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height: 3px;  background-color:#fff"></div>
                                </smooth-dnd-draggable>

                            </smooth-dnd-container>

                        </div>


                        <!-- <li *ngFor="let item of page.questions; let i = index" class="d-repeat-question" [ngClass]='{"d-edit-repeat-question": selectQuestion == item.id}'
                            [dragData]="item" dnd-sortable [dragEnabled]="!editCheckbox.checked" [sortableIndex]="i">
                            <div class="d-question-wrapp" dnd-droppable (onDropSuccess)="!!$event.dragData.name ? addQuestion($event, i) : sortQuestion($event, i)"
                                [dropZones]="templateOptions.dragTemplateZones">
                                <div class="d-item-left-section">
                                    <div class="d-item-opt-controls">
                                        <input id="etitState" [checked]="selectQuestion == item.id" #editCheckbox type="checkbox" value="false" (change)="setQuestionOption(item, editCheckbox.checked); editCheckbox.checked ? selectQuestion = item.id: selectQuestion = ''">
                                        <label for="etitState"> {{'Q' + (i+1)}}</label>
                                        <button (click)="flickerNotificationField(1)" type="button" *ngIf="item.required && editCheckbox.checked" class="d-btn-option"
                                            title="Require question">
                                            <i class="fa fa-asterisk"></i>
                                        </button>
                                        <br>
                                        <button (click)="flickerNotificationField(2)" type="button" *ngIf="item.isAdditionalAnswer && editCheckbox.checked" class="d-btn-option"
                                            title="Additional answer">
                                            <i class="fa fa-share "></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="d-item-right-section">
                                    <question-form-builder [pageId]="page.id" [isEditState]="editCheckbox.checked" [question]="item" [formPage]="formPage"></question-form-builder>
                                </div>
                            </div>
                        </li> -->
                    </ul>
                </div>
                <div class="form-row">
                    <!-- <button type="submit" [disabled]="!formPage.valid">Save</button> -->
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="!isPageBuilder" class="setting-wrapper">
        <div class="setting-body">
            <div class="d-setting-item">
                <!-- <div class="d-setting-item-label">
                    <p>Title:</p>
                </div> -->
                <div class="d-setting-item-value-title">
                    <input class="d-mane-input" type="text" [(ngModel)]="survey.name">
                </div>
            </div>

            <div class="d-setting-item">
                <!-- <div class="d-setting-item-label">
                    <p>Display Description:</p>
                </div> -->
                <div class="d-setting-item-value">
                    <input type="checkbox" id="IdisShowDescription" class="d-checkbox-input" [(ngModel)]="survey.isShowDescription">
                    <label for="IdisShowDescription">
                        <strong>Show description text.</strong>
                        <dfn> This text will appear in the browser as the window or tab title.</dfn>
                    </label>
                </div>
            </div>

            <div class="d-setting-item">
                <!-- <div class="d-setting-item-label">
                    <p>Description:</p>
                </div> -->
                <div class="d-setting-item-value">
                    <textarea [disabled]="!survey.isShowDescription"  title="`\_(^^)_/`" class="d-textarea-item" autosize  [(ngModel)]="survey.description"></textarea>
                </div>
            </div>


            <div class="d-setting-item">
                <!-- <div class="d-setting-item-label">
                    <p>Display Description:</p>
                </div> -->
                <div class="d-setting-item-value">
                    <input type="checkbox" id="IdisShowProcessCompleted" class="d-checkbox-input" [(ngModel)]="survey.isShowProcessCompletedText">
                    <label for="IdisShowProcessCompleted">
                        <strong>Show end text.</strong>
                        <dfn> This text will appear after successfully filling out the questionnaire.</dfn>
                    </label>
                </div>
            </div>

            <div class="d-setting-item">
                <!-- <div class="d-setting-item-label">
                    <p>Description:</p>
                </div> -->
                <div class="d-setting-item-value">
                    <textarea [disabled]="!survey.isShowProcessCompletedText" title="`\_('')_/`" autosize [minRows]="3" class="d-textarea-item" [(ngModel)]="survey.processCompletedText"></textarea>
                </div>
            </div>

            <br>

            <div class="d-setting-item">
                <div class="d-setting-item-value">
                    <input type="radio" name="allow-access-group" id="IdEnableAccess" [value]="true" class="d-radio-input" [(ngModel)]="survey.isOpenAccess">
                    <label for="IdEnableAccess">
                        <strong>Open Access.</strong>
                        <dfn> Allow anyone to take this survey.</dfn>
                    </label>
                </div>
            </div>
            <div class="d-setting-item">
                <div class="d-setting-item-value">
                    <input type="radio" name="allow-access-group" id="IdDisableAccess" [value]="false" class="d-radio-input" [(ngModel)]="survey.isOpenAccess">
                    <label for="IdDisableAccess">
                        <strong>By Invitation Only.</strong>
                        <dfn> Prevent people from taking the survey using an anonymous survey link.</dfn>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="d-builder-option">
    <div class="d-builder-option-header">
        <p class="d--text-tools-header"> Page Explorer (chenged)</p>
    </div>
    <!-- <div class="d-action-buttons">
        <button type="button" class="d-option-button">
            <i class="fa fa-save"></i>
        </button>
        <button type="button" class="d-option-button">
            <i class="fa fa-clone"></i>
        </button>

        <button type="button" class="d-option-button">
            <i class="fa fa-area-chart"></i>
        </button>

    </div> -->
    <div class=""></div>
    <question-options *ngIf="templateOptions && isPageBuilder " [questionTypes]="templateOptions"></question-options>
</div>