<!-- page -->
<div class="cmp--group-manage container-fluid clbr--page">

    <!-- page-title -->
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="clbr--page-title">
            </div>
        </div>
    </div> -->

    <!-- page-navigation -->
    <div class="row">
        <div class="col-md-10">
            <div class="clbr--page-navigation">
                <nav class="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <button class="clbr--mat-raised-button-v1 clbr--mat-raised-button-primary" mat-raised-button (click)="dialogGroupCreateOpen()">ADD NEW ORGANIZATION</button>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="padding-right: 15px;">
                        <li>
                            <p-dropdown class="clbr--p-dropdown-v1" [options]="view_OptionList" [(ngModel)]="view_Option" [style]="{'width':'170px'}">
                                <ng-template let-item pTemplate="selectedItem">                                        
                                    view option:<span>{{item.label}}</span> 
                                </ng-template>
                            </p-dropdown>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- page-content -->
    <div class="row">
        <div class="col-md-10">
            <div class="clbr--page-content">
                <div [ngSwitch]="view_Option">
                    <div *ngSwitchCase="'list'">
                        <cmp-group-data-grid (deleteItem)="item_delete($event)" (editItem)="item_edit($event)"  [eventResetData]="eventResetData.asObservable()">
                        </cmp-group-data-grid>
                    </div>
                    <div *ngSwitchCase="'tree'">                        
                        <cmp-group-data-tree  (deleteItem)="item_delete($event)" (editItem)="item_edit($event)"  [eventResetData]="eventResetData.asObservable()">
                        </cmp-group-data-tree>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<group-dialog-create-cmp
    [config]="dialogGroupCreateConfig"
    (onChange)="dialogGroupCreateOnChange($event)"
    (onCancel)="dialogGroupCreateOnCancel($event)"
    (onHide)="dialogGroupCreateOnHide($event)">
</group-dialog-create-cmp>