.cmp--group-manage {
    padding: 0 20px;
    ::ng-deep .ui-dropdown .ui-dropdown-label span { font-weight: 500; color: #3b78e7; font-size: 12px; padding-left: 5px; }

    .cmp--nav-title { display: inline-block; }

    
    .clbr--page-navigation { padding-top: 10px; padding-bottom: 5px; }
    ::ng-deep .clbr--page-navigation .cmp--nav-btn-back { width: 35px; height: 35px; line-height: 35px; }
    ::ng-deep .clbr--page-navigation .cmp--nav-btn-back .mat-icon { font-size: 19px; line-height: 24px;  color: #6992d2; }
    ::ng-deep .clbr--page-navigation .cmp--nav-title { font-size: 15px; margin-bottom: 0px; margin-right: 20px; margin-left: 5px; line-height: 35px; vertical-align: middle; } 

    .cmp--view-option { margin-top: 5px; display: block; }
}