
.group-grid-cmp {
    
    .ui-fieldset.fieldset--group-band { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; }

}

split-area { position: relative;  }
ui-fieldset { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; }
