<div class="cmp--group-grid clbr--page">

    <div class="clbr--page-title">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    Group management
                </div>
            </div>
        </div>
    </div>

    <div class="clbr--page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 clbr--pos--absolute">
                    <split [direction]="direction">

                        <split-area size="30" class="clbr--pos--relative">
                            <p-fieldset legend="Groups" styleClass="clbr--cust--fieldset-groups">
                                <group-tree-cmp>
                                </group-tree-cmp>
                                <!-- <div class="clbr--btn-inline">
                                    <button class="btn btn-sm btn-default notification" id="notification">
                                        <i class="fa fa-file-o"></i>Create</button>
                                    <button class="btn btn-sm btn-default notification" id="notification">
                                        <i class="fa fa-remove"></i>Remove</button>
                                </div>
                                <p-treeTable [value]="groups" selectionMode="single" [(selection)]="selectedFile" (onNodeExpand)="loadNode($event)">
                                    <p-column field="name" header="Name"></p-column>
                                    <p-column field="description" header="Description"></p-column>
                                </p-treeTable> -->
                            </p-fieldset>
                        </split-area>

                        <split-area size="70" class="clbr--pos--relative clbr--cust--split-area-right">
                            <p-tabView>
                                <p-tabPanel header="Main info">
                                    Content 1
                                </p-tabPanel>
                                <p-tabPanel header="Group members">
                                    <group-member-grid-cmp>
                                    </group-member-grid-cmp>
                                </p-tabPanel>
                            </p-tabView>
                        </split-area>

                    </split>
                </div>
            </div>
        </div>
    </div>

</div>