body {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}

/* CLBR COMMON */
.clbr--pos--relative { position: relative; }
.clbr--pos--absolute { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; }
/* !End CLBR COMMON */

/*clbr page */
.clbr--page .clbr--page-title { padding: 10px 0px 7px 0px; font-size: 14px; }
.clbr--page .clbr--page-content { position: absolute; top: 37px; bottom: 0px; left: 0px; right: 0px; }
.clbr--page .clbr--page-content .clbr--filter { margin-bottom: 8px; }
.clbr--page .clbr--page-content .clbr--filter .form-group { margin: 0px 8px 8px 3px; }
.clbr--page .clbr--page-content .clbr--btn-inline {
  margin-bottom: 8px;
  .btn { margin-right: 5px; }
}
/* !End clbr page */

/* ANGULAR-MATERIAL */
.cdk-overlay-container { z-index: 1031; } // more than bootstrap nav {{1030}}
/* !End ANGULAR-MATERIAL */

/* ANGULAR-SPLIT */
split-gutter { flex-basis: 5px !important; }
/* !End ANGULAR-SPLIT */

.fa-drag-handle:before {
  content: "\f142 \f142";
  letter-spacing: 2px;
}