.ui-dialog.ui-widget .ui-dialog-content { padding: 15px; }






.clbr--p-dialog-v1 {
    .ui-widget-header { background-image: none; }
    .ui-dialog.ui-widget .ui-dialog-titlebar { padding: 15px; }
    .ui-dialog.ui-widget .ui-dialog-titlebar .ui-dialog-title { font-size: 16px; font-weight: 300; }
    .ui-widget-content { color: #1b1d1f; }
    .ui-dialog.ui-widget .ui-dialog-footer { padding: 15px; border: none; text-align: left }
}




// #region DIALOG
.clbr--ui-dialog-v1 {
    .ui-widget-header { background-image: none; }    
    .ui-widget-content { color: #1b1d1f; }
    .ui-dialog.ui-widget .ui-dialog-titlebar { padding: 15px; }
    .ui-dialog.ui-widget .ui-dialog-titlebar .ui-dialog-title { font-size: 16px; font-weight: 300; }
    .ui-dialog.ui-widget .ui-dialog-footer { padding: 15px; border: none; text-align: left }
}
// #endregion




// #region TREETABLE
.clbr--ui-treetable {
    &.clbr--ui-treetable-v1 {
    .ui-treetable-wrapper {
        min-height: 300px;
        background-color: #F9F9F9;
    }

    .ui-treetable .ui-treetable-thead > tr > th { border-bottom: 1px solid #CECECE; }  
    .ui-treetable .ui-treetable-tbody > tr > td { border: 1px solid #EBEBEB !important; }
    .ui-treetable .ui-treetable-thead > tr > th,
    .ui-treetable .ui-treetable-tfoot > tr > td {
        background-color: #F5F5F5;
        border-top: none;
        font-size: 11px;
        font-weight: 500;
        padding: 2px 10px;
        color: #000;
        &.splitter {
        padding: 6px 6px;
        width: 10px;
        }
    }
    .ui-treetable .ui-treetable-tbody > tr.ui-state-highlight {
        background-color: transparent;
        background-image: -o-linear-gradient(top,#1F86E1 0,#3b78e7 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#1F86E1),to(#3b78e7));
        background-image: linear-gradient(to bottom, #1F86E1 0, #3b78e7 100%);
        //
        > td { color: #ffffff; }
    }
    .ui-treetable .ui-treetable-tbody > tr > td {
        color: #454545;
        padding: 5px 10px;
        font-size: 13px;
        .ui-treetable-toggler > .pi { font-size: 12px;  }
    }

    .ui-treetable .ui-treetable-thead > tr > th,
    .ui-treetable .ui-treetable-tfoot > tr > td,
    .ui-treetable .ui-treetable-tbody > tr > td {
        &:first-child { border-left: none !important; }
        &:last-child { border-right: none !important; }
        &.border-right-none { border-right: none !important; }
        &.border-left-none { border-left: none !important; }
    }
    }
}
// #endregion




// #region TREETABLE
.clbr--ui-table {
    &.clbr--ui-table-v1{
        .ui-table-wrapper {
            min-height: 300px;
            background-color: #F9F9F9;
        }
        .ui-table .ui-table-thead > tr > th { border-bottom: 1px solid #CECECE; }  
        .ui-table .ui-table-tbody > tr > td { border: 1px solid #EBEBEB !important; }
        .ui-table .ui-table-thead > tr > th,
        .ui-table .ui-table-tfoot > tr > td {
            background-color: #F5F5F5;
            border-top: none;
            font-size: 11px;
            font-weight: 500;
            padding: 2px 10px;
            color: #000;
            &.splitter {
            padding: 6px 6px;
            width: 10px;
            }
        }
        .ui-table .ui-table-tbody > tr:nth-child(even) {background-color: #fff; }
        .ui-table .ui-table-tbody > tr.ui-state-highlight {
            background-color: transparent;
            background-image: -o-linear-gradient(top,#1F86E1 0,#3b78e7 100%);
            background-image: -webkit-gradient(linear,left top,left bottom,from(#1F86E1),to(#3b78e7));
            background-image: linear-gradient(to bottom, #1F86E1 0, #3b78e7 100%);
            //
            > td { color: #ffffff; }
        }
        .ui-table .ui-table-tbody > tr > td {
            color: #454545;
            padding: 5px 10px;
            font-size: 13px;
            .ui-table-toggler > .pi { font-size: 12px;  }
        }

        .ui-table .ui-table-thead > tr > th,
        .ui-table .ui-table-tfoot > tr > td,
        .ui-table .ui-table-tbody > tr > td {
            &:first-child { border-left: none !important; }
            &:last-child { border-right: none !important; }
            &.border-right-none { border-right: none !important; }
            &.border-left-none { border-left: none !important; }
        }
    }
}
// #endregion




// #region CHKBOX
.clbr--ui-chkbox-1 {
    .ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active {
        border: 1px solid #cccccc;
        background: #ffffff;
        color: #000000;
    }
    .ui-chkbox-box.ui-state-focus, .ui-radiobutton-box.ui-state-focus {
        box-shadow: none;
    }
    .title { font-size: 12px; font-weight: 400; padding-left: 5px; }
}
// #endregion

// #region TREE
.clbr--ui-tree-v1 {
    display: block;

    .ui-treenode-label { font-size: 13px; color: #777; padding-left: 7px; }
    .ui-tree.ui-widget-content {
        border: none;
        width: 100%; 
    }
    .ui-treenode-content { padding: 5px; }
    .ui-treenode-content.ui-treenode-selectable:hover { background-color: #eeeeee; }
    .ui-treenode-content.ui-treenode-selectable.ui-treenode-content-selected {
        background-color: transparent;
        background-image: -o-linear-gradient(top, #1F86E1 0, #3b78e7 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#1F86E1), to(#3b78e7));
        background-image: linear-gradient(to bottom, #1F86E1 0, #3b78e7 100%);
        color: #fff !important;
        .ui-state-highlight { background-color: transparent; }
    }
    .ui-treenode-content.ui-treenode-selectable.ui-treenode-content-selected .ui-treenode-label { color: #fff !important; }
    .pi-caret-right::before {
        content: "\E901" !important;
        font-size: 12px;
        display: block;
    }
    .pi-caret-down::before {
        content: "\E902" !important;
        font-size: 12px;
        display: block;
    }
}
// #endregion


// DROPDOWN
// #region
.clbr--ui-dropdown-v1 {    
}
// #endregion




