// /* p-fieldset */
// .ui-fieldset {
//     padding: 5px 10px;
//     .ui-fieldset-toggler.fa-minus:before { content: "\F147"; }
//     .ui-fieldset-toggler.fa-plus:before { content: "\F196"; }
//     &.ui-fieldset-toggleable .ui-fieldset-legend a { padding: 0em 0em 0em 0.5em; }
//     .ui-fieldset-legend-text { color: #0b6ec7; }
//     .ui-fieldset-legend {
//         padding: 0px;
//         font-size: 12px;
//         width: inherit;
//         border: none !important;
//         margin-bottom: 0px;
//         background-color: transparent;
//     }
// }
// /* !End p-fieldset */

// /* p-tabView */
// .ui-tabview {
//     background-color: inherit;
//     .ui-tabview-nav { border: none; border-bottom: 1px solid #DFDFDF }
//     .ui-tabview-panel { padding: 10px 0px; }
//     .ui-tabview-nav li { margin-right: 5px; border: 1px solid transparent; background: transparent; }
//     .ui-tabview-nav li.ui-tabview-selected { border: 1px solid #D6D6D6; border-bottom: 1px solid transparent; }
//     .ui-state-active a { color: #0b6ec7 !important; }
//     .ui-tabview-nav li a { padding: 5px 10px; }
//     &.ui-tabview-top > .ui-tabview-nav li { top: 2px; }
// }
// /* !End p-tabView */

// /* ui-tree */
// .ui-tree {
//     width: 100%;
//     border: none;
//     padding: 5px;
//     .ui-tree-toggler { padding: 7px; padding-right: 20px; }
//     .ui-treenode-label { padding: 5px 0px 3px 0px; font-size: 13px; }
//     .ui-treenode-content-selected {
//         border-radius: 3px;  
//         background-image: -o-linear-gradient(top,#1A84E1 0,#1771D6 100%);
//         background-image: -webkit-gradient(linear,left top,left bottom,from(#1A84E1),to(#1771D6));
//         background-image: linear-gradient(to bottom,#1A84E1 0,#1771D6 100%);  
//     }
//     .ui-treenode-content-selected .ui-treenode-label { background: none }
//     .ui-treenode-content.ui-treenode-selectable:hover { background-color: #EDEDF0; border-radius: 3px; }
//     .ui-treenode-content.ui-treenode-selectable .ui-treenode-label:not(.ui-state-highlight):hover { background: none }
//     .fa-caret-right:before { content: "\F054"; font-size: 9px; }
//     .fa-caret-down:before { content: "\F078"; font-size: 9px; }
//     .ui-tree-loading-mask {
//         background-color: rgba(0, 0, 0, 0.1);
//         opacity: inherit; }
//     .ui-tree-loading-content { color: #999999; }
// }
// /* !End ui-tree */

// /* ui-table */
// .ui-table {
//     .ui-table-thead > tr > th,
//     .ui-table-tfoot > tr > td {
//         font-weight: 400;
//         background-image: -o-linear-gradient(top, #FAFAFA 0, #EFEFEF 100%);
//         background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#EFEFEF));
//         background-image: linear-gradient(to bottom, #FAFAFA 0, #EFEFEF 100%);
//     }
//     .ui-table-thead > tr > th,
//     .ui-table-tbody > tr > td,
//     .ui-table-tfoot > tr > td {
//         padding: 6px 6px 3px 6px;
//     }
//     .ui-table-tbody > tr.ui-state-highlight {
//         background-image: -o-linear-gradient(top,#1A84E1 0,#1771D6 100%);
//         background-image: -webkit-gradient(linear,left top,left bottom,from(#1A84E1),to(#1771D6));
//         background-image: linear-gradient(to bottom,#1A84E1 0,#1771D6 100%);  
//     }
// }
// /* !End ui-table */

// /* ui-dropdown */
// .ui-dropdown {
//     .ui-inputtext { padding-left: 10px; }
//     .ui-inputtext.ui-placeholder { padding-left: 10px; color: #999; }
// }
// /* !End ui-dropdown */

// /* ui-dialog */
// .ui-dialog {
//     .ui-dialog-footer { border: none; }
//     &.ui-widget .ui-dialog-titlebar .ui-dialog-title { font-size: 12px; font-weight: 500; color: #333333; }
//     &.ui-widget .ui-dialog-titlebar, { padding: 8px 15px 8px 15px; }
//     &.ui-widget .ui-dialog-content { padding: 15px 15px 8px 15px; }
// }
// /* !End ui-dialog */

// /* ui-blockui */
// .ui-blockui {
//     &.ui-widget-overlay {
//         background-color: rgba(0, 0, 0, 0.1);
//         opacity: inherit;
//         color: #999999;
//      }
// }
// /* !End ui-blockui  */

// /* ui-growl */
// .ui-growl{
//     &.clbr--growl-icon-none .ui-growl-image  { display: none; }
//     &.clbr--growl-icon-none .ui-growl-message { margin-left: 0px; }
// }
// /* !End ui-growl */