// form colors
$ctrl-color: #333;
$ctrl-color-lable: #333;
$ctrl-color-input: #333;
$ctrl-color-input-error: #333;
$ctrl-color-input-warn: #333;
$ctrl-color-detail: #333;
$ctrl-background: #333;
$ctrl-border-color: #333;

// button colors
$btn-color-primary: #333;
$btn-color-default: #333;
$btn-background: #333;

// text colors
$text-color-page-title: #333;
$text-color-page-description: #333;

