<div class="cmp-form-group-creat row">
    <div class="col-md-12">

        <div #formGroupCreate="ngForm"
            [formGroup]="formGroup"
            class="clbr--form-horizontal form-horizontal needs-validation"
            role="form">

            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label"
                    for="name">Name</label>
                <div class="col-md-9">
                    <!-- <input formControlName="name"
                        id="name"
                        name="name"
                        type="text"
                        class="form-control"> -->
                    <!-- <mat-form-field class="example-full-width">
                        <input matInput placeholder="Name" formControlName="name">
                    </mat-form-field> -->

                    <mat-form-field>
                            <mat-select placeholder="Favorite food">
                              <mat-option *ngFor="let food of foods" [value]="food.value">
                                {{food.viewValue}}
                              </mat-option>
                            </mat-select>
                            <i matSuffix style="font-size: 13px;" class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                            
                          </mat-form-field>
                    <span class="valid-feedback"
                        *ngIf="formGroup.get('name').hasError('required') && formGroup.get('name').touched || formGroup.get('name').hasError('required') && !formIsValid">
                        Value is required
                    </span>
                </div>
            </div>
            <div class="clbr--form-group form-group form-group-sm">
                <label class="col-md-3 control-label"
                    for="email">Parent group</label>
                <div class="col-md-9">
                    <p-dropdown formControlName="parentId"
                        appendTo="body"
                        [options]="drpdwnGroups"
                        autoWidth="false"
                        [style]="{'width':'100%'}"></p-dropdown>
                    <!-- <div class="input-group">                                
                                        <p-dropdown formControlName="parentId"                                        
                                        appendTo="body"
                                        autoWidth="false"
                                        [options]="drpdwnGroups"
                                        [style]="{'width':'100%','max-width':'100%' }">
                                        <ng-template let-item pTemplate="selectedItem">                                                 
                                                <span style="vertical-align:middle">{{item.label}}</span>
                                            </ng-template>
                                    </p-dropdown>
                                
                                <span class="input-group-addon">.00</span>
                              </div> -->
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label"
                    for="message">Description</label>
                <div class="col-md-9">
                    <textarea class="form-control"
                        id="message"
                        formControlName="description"
                        name="message"
                        placeholder="Please enter description here..."
                        rows="5"></textarea>
                </div>
            </div>

        </div>

    </div>
</div>