<p-dialog header="Group creation"
    class="clbr--p-dialog-v1"
    minWidth="400"
    width="400"
    showEffect="fade"
    [responsive]="true"
    [modal]="true"
    [resizable]="true"
    [maximizable]="true"
    (onHide)="dialogHide($event)"
    [(visible)]="dialogConfig.visible">

    <div class="cmp-form-group-creat row">
        <div class="col-md-12">

            <div #ngFormGroup="ngForm"
                [formGroup]="formGroup"
                class="clbr--form-horizontal form needs-validation"
                role="form">
                <div class="form-group form-group-sm">
                    <mat-form-field class="mat-clbr--form-field-full-width">
                        <input #ctrlName matInput maxlength="50"
                            placeholder="Group ID *"
                            formControlName="groupID">
                        <mat-error *ngIf="formGroup.get('groupID').hasError('required') && formGroup.get('groupID').touched">
                            Value is required
                        </mat-error>
                        <mat-hint align="end">unique value</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-group form-group-sm">
                    <mat-form-field class="mat-clbr--form-field-full-width">
                        <input #ctrlName matInput maxlength="50"
                            placeholder="Group name *"
                            formControlName="name">
                        <mat-error *ngIf="formGroup.get('name').hasError('required') && formGroup.get('name').touched">
                            Value is required
                        </mat-error>
                        <mat-hint align="end">maximum length - {{ctrlName.value.length}} / 50</mat-hint>
                    </mat-form-field>
                </div>
                <div class="clbr--form-group form-group form-group-sm">
                    <mat-form-field class="mat-clbr--form-field-full-width">
                        <mat-select placeholder="Parent group"
                            formControlName="parentId">
                            <mat-option *ngFor="let item of drpdwnGroups"
                                [value]="item.value">
                                {{item.label}}
                            </mat-option>
                        </mat-select>
                        <i *ngIf="!drpdwnGroups.length>0" matSuffix style="font-size: 13px;" class="fa fa-refresh fa-spin"></i>
                    </mat-form-field>
                </div>
                <div class="form-group form-group-sm">
                    <mat-form-field class="mat-clbr--form-field-full-width">
                        <textarea  matInput
                            placeholder="Description"
                            formControlName="description">
                        </textarea>
                        <mat-error *ngIf="formGroup.get('name').hasError('required') && formGroup.get('name').touched">
                            Value is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <p-footer>
        <button class="clbr--btn-default btn btn-sm btn-default notification" (click)="formSubmit()">SAVE CHANGES</button>
        <button class="clbr--btn-default clbr--background-image-without btn btn-sm btn-default notification" (click)="formCancel()">CANCEL</button>
    </p-footer>

</p-dialog>

<p-growl styleClass="clbr--growl-icon-none"
    [life]="5000">
</p-growl>