// .cmp--user-grid {
    
// }
.cmp--user-data-grid {
    
    ::ng-deep .clbr--p-multiSelect-column-option .pi.pi-caret-down:before { content: "\EA58"; }
    .clbr--block-options .pi { font-size: 12px; }
    .clbr--block-options .clbr--btn-default:hover { background-color: #D3D5D8; }
    .clbr--block-options .clbr--btn-default {
        border-radius: 0;
        background-color: transparent;
        background-image: none;
        box-shadow: none;
        border: none;
        padding: 7px 10px;
    }

    .clbr--mat-icon-button-option.mat-icon-button { width: 30px; height: 30px; line-height: 20px; }
    .clbr--mat-icon-button-option.mat-icon-button .mat-icon { font-size: 20px; }
    
    .cmp--padding-top-bottom-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
    .cmp--float-right { float: right; }
}

// .clbr-tb-action-btn {

//     margin-right: 10px;
//     border-radius: 25px;
//     padding: 0;
//     width: 25px;
//     height: 25px;
//     box-shadow: none;
//     background-image: none;
//     border: 4px solid #fff;
//     background-color: #777;
//     transition : border 500ms ease-out;

//     .mat-icon {
//         font-size: 13px;
//         height: 13px;
//         width: 13px;
//         vertical-align: initial;
//         color: transparent;
//         text-shadow: 0 1px 0 #ebebeb; 
//     }
    
//     &:hover {
//         border: 4px solid #fff !important;
//     }


// }