<div class="row">
    <div class="col-md-12">
        <div class="clbr--block-content">
            <div #formGroupUpdate="ngForm" [formGroup]="formGroup" class="form--verical" role="form">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group form-group-sm form--group-xs">
                            <label class="control-label">Email address</label>
                            <input formControlName="name" type="text" placeholder="Enter name" class="form-control">
                            <span class="valid-feedback" *ngIf="formGroup.get('name').hasError('required') && formGroup.get('name').touched || formGroup.get('name').hasError('required') && !formIsValid">
                                Value is required
                            </span>
                        </div>
                        <div class="form-group form-group-sm form--group-xs">
                            <label class="control-label">Parent group</label>
                            <p-dropdown [options]="drpdwnGroups" formControlName="parentId" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
                            <small class="form-text text-muted" *ngIf="formGroup.get('name').hasError('required') && formGroup.get('name').touched || formGroup.get('name').hasError('required') && !formIsValid">
                                Value is required
                            </small>
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="control-label">Description</label>
                            <textarea class="form-control" formControlName="description" placeholder="Please enter description here..."
                                rows="5"></textarea>
                        </div>

                        <button [attr.disabled]="blockedPanel ? '' : null" class="btn btn-sm btn-default notification"
                            (click)="formSubmit()">
                            <i class="fa fa-check"></i>Update</button>
                        <button [attr.disabled]="blockedPanel ? '' : null" type="button" class="btn btn-sm btn-default notification"
                            (click)="formCancel()">
                            <i class="fa fa-remove"></i>Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>