<div class="cmp--group-member-grid">

    <div class="clbr--filter">
        <p-fieldset legend="Filter" [toggleable]="true" collapsed="true">
            <form class="form-horizontal" action='' method="POST">
                <div class="control-group form-group-sm form--group-xs">
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-3">
                                <input class="form-control" type="text" placeholder="search text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group form-group-sm form--group-xs">
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-3">
                                <p-dropdown [ngModelOptions]="{standalone: true}" [options]="drpdwnStatuses" [(ngModel)]="statuses" [style]="{'width':'100%'}"
                                    placeholder="member status"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </p-fieldset>
    </div>

    <div class="clbr--btn-inline">
        <button class="btn btn-sm btn-default notification" (click)="dialogGroupMemberAddOpen()">
            <i class="fa fa-plus"></i>Add member(s)</button>
        <button (click)="memberUnsubscribe(selectedMember.id)" class="btn btn-sm btn-default notification" [attr.disabled]="!selectedMember ? '' : null">
            <i class="fa fa-remove"></i>Unsubscribe</button>
        <button (click)="dialogGroupMemberDetailOpen(selectedMember.id)" class="btn btn-sm btn-default notification" [attr.disabled]="!selectedMember ? '' : null">
            <i class="fa fa-info"></i>Details</button>
        <button style="float: right;" class="btn btn-sm btn-default notification" (click)="dtGroupMembers.exportCSV()">
            <i class="fa fa-file-excel-o"></i>Excel</button>
    </div>

    <!-- <p-table #dtGroupMembers [paginator]="true" [rows]="10" [columns]="gridCols" [value]="gridItems" [resizableColumns]="true" selectionMode="single"
        [(selection)]="selectedMember">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of gridCols" pResizableColumn>
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of gridCols">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table> -->
<!-- 
    <p-table #dtGroupMembers selectionMode="single" [resizableColumns]="true" [columns]="gridCols" [value]="gridItems" (onLazyLoad)="loadGridLazy($event)" [paginator]="true" [rows]="10"
        [totalRecords]="totalRecords" [loading]="gridLoading" [(selection)]="selectedMember">
 -->

    <p-table #dtGroupMembers [paginator]="true" [rows]="10" [columns]="gridCols" [value]="gridItems" [resizableColumns]="true" selectionMode="single"
        [(selection)]="selectedMember" (onLazyLoad)="loadGridLazy($event)" [loading]="gridLoading">

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>

<dialog-group-member-add-cmp [config]="dialogGroupMemberAddConfig" (onChange)="dialogGroupMemberAddOnChange($event)" (onCancel)="dialogGroupMemberAddOnCancel($event)"
    (onHide)="dialogGroupMemberAddOnHide($event)">
</dialog-group-member-add-cmp>

<dialog-group-member-detail-cmp [config]="dialogGroupMemberDetailConfig" (onHide)="dialogGroupMemberDetailOnHide($event)">
</dialog-group-member-detail-cmp>

<p-confirmDialog #cd header="Confirmation">
    <p-footer>
        <button class="btn btn-sm btn-default notification" (click)="cd.accept()">
            <i class="fa fa-check"></i>Yes</button>
        <button class="btn btn-sm btn-default notification" (click)="cd.reject()">
            <i class="fa fa-remove"></i>No</button>
    </p-footer>
</p-confirmDialog>

<p-growl styleClass="clbr--growl-icon-none" [life]="5000">
</p-growl>