<div *ngIf="questionOption">
    <p class="d-text-description">Change Question Type</p>
    <p-dropdown (onChange)="changeQuestion($event)" [options]="types" class="d-dropdown" [(ngModel)]="selectedType" [style]="{'width':'100%', 'font-size':'12px'}"
        filter="true">


        <ng-template let-item pTemplate="selectedItem">
            <p class="icon fa {{item.icon}}" href="#"></p>
            <!-- <img src="assets/showcase/images/demo/car/{{item.label}}.png" style="width:16px;vertical-align:middle" /> -->
            <span style="vertical-align:middle">{{item.label}}</span>
        </ng-template>
        <ng-template let-type pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                <p class="icon fa {{type.icon}}" href="#"></p>
                <!-- <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="width:24px;position:absolute;top:1px;left:5px" /> -->
                <div style="font-size:14px;float:right;margin-top:4px">{{type.label}}</div>
            </div>
        </ng-template>
    </p-dropdown>
    <div [ngClass]='{"changeColor": divRequied == true}'>
        <div [ngClass]='{"flickDiv": divRequied == true}'>
            ({{questionOption.required}}) is required question:
            <input type="checkbox" [(ngModel)]="questionOption.required" #validationCheckbox (click)="changeQuestionValidation(validationCheckbox.checked)">
        </div>
    </div>
    <!-- {{questionOption | json}} -->
    <div [ngClass]='{"changeColor": divAdditional == true}'>
        <div [ngClass]='{"flickDiv": divAdditional == true}'>
            11Add aditional input:
            <input type="checkbox" [(ngModel)]="questionOption.isAdditionalAnswer" #AdditionalCheckbox (click)="AddAdditionalQuestion(AdditionalCheckbox.checked)">
        </div>
    </div>

    <pre>{{control.value | json}}</pre>
    <pre>{{question | json}}</pre>
</div>

<!-- <pre>{{questionTypes.availableQuestions | json}}</pre>
<pre>{{types | json}}</pre> -->