<div *ngIf="questionOption">
    <div [ngClass]='{"changeColor": divRequied == true}'>
        <div [ngClass]='{"flickDiv": divRequied == true}'>
            ({{questionOption.required}}) is required question:
            <input type="checkbox" [(ngModel)]="questionOption.required" #validationCheckbox (click)="changeQuestionValidation(validationCheckbox.checked)">
        </div>
    </div>
    <div [ngClass]='{"changeColor": divAdditional == true}'>
        <div [ngClass]='{"flickDiv": divAdditional == true}'>
            Add aditional input:
            <input type="checkbox" [(ngModel)]="questionOption.isAdditionalAnswer" #AdditionalCheckbox (click)="AddAdditionalQuestion(AdditionalCheckbox.checked)">
        </div>
    </div>


</div>
