<div class="cmp--group-detail">
    <form-group-update-cmp #formGroupUpdate
        [config]="formGroupUpdateConfig"
        (onChange)="formGroupUpdateOnChange($event)">
    </form-group-update-cmp>
</div>


<p-blockUI [target]="formGroupUpdate" [blocked]="blockedPanel">
    <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw" style="position:absolute;top:25%;left:50%"></i>
    <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw" style="position:absolute;top:25%;left:50%"></i>
    <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw" style="position:absolute;top:25%;left:50%"></i>
</p-blockUI>

<p-growl styleClass="clbr--growl-icon-none" [life]="5000">
</p-growl>