<div class="cmp--laout-identity">
    <mat-toolbar>
        <button mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
        </button>
        <span class="cmp--brand">Identity server</span>

        <span class="example-fill-remaining-space"></span>

        <div>
            <button mat-icon-button [matMenuTriggerFor]="menuOption">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu class="clbr--mat-menu-panel-v1" overlapTrigger="false" #menuOption="matMenu">
                <button mat-menu-item>Option 1</button>
                <button mat-menu-item>Option 2</button>
                <button mat-menu-item>Option 3</button>
              </mat-menu>
        </div>
        
        <div>
            <button class="cmp--btn-account" mat-icon-button [matMenuTriggerFor]="menuAccount">
                <mat-icon>panorama_fish_eye</mat-icon>
            </button>
            <mat-menu class="clbr--mat-menu-panel-v1" overlapTrigger="false" #menuAccount="matMenu">
                <button mat-menu-item>My profile</button>
                <button mat-menu-item>Log out</button>
            </mat-menu>
        </div>
    </mat-toolbar>
</div>


