<div class="clbr--block-filter">
    <mat-form-field appearance="outline" class="cmp--mat-form-field-filter clbr--mat-form-field-without-border clbr--mat-form-field-full-width example-chip-list">
        <span matPrefix>
            <i class="bowtie-icon bowtie-search-filter clbr--bowtie-search-filter-icon"></i>
        </span>
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let item of chipItems"
                [selectable]="chipSelectable"
                [removable]="chipRemovable"
                (removed)="remove(item)">
                {{item.label}}
                <mat-icon matChipRemove
                    *ngIf="chipRemovable">cancel</mat-icon>
            </mat-chip>
            <input #chipInput
                placeholder="Select filter value"
                [formControl]="chipFruitCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="chipSeparatorKeysCodes"
                [matChipInputAddOnBlur]="chipAddOnBlur"
                (keyup.enter)="chipOnEnter(chipInput.value)"
                (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete autoActiveFirstOption
            #auto="matAutocomplete"
            (optionSelected)="selected($event)">
            <mat-option *ngFor="let item of filteredItems"
                [value]="item">
                {{item}}
            </mat-option>
        </mat-autocomplete>
        <!-- <button matSuffix mat-icon-button (click)="chipClean()">
            <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
        </button> -->
        <!-- <button mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="chipClean()">
            <mat-icon>close</mat-icon>
        </button> -->
    </mat-form-field>
</div>