.d-question-wrapper{
    // margin: 15px;
    padding: 20px;
    // padding-left: 0px;
    // border-bottom: 1px solid #CCCEDB;
    border-top: 0px;
    border-radius: 5px;
    // background-color: #fff;
    border-radius: 0px;
    min-height: 160px;
        // margin-left: 10px;
                    // margin-right: 10px;
    
}

.hscroll {
    overflow-x: auto; /* Horizontal */


    // border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;


    table {
        width: 100%;
    }
    td {
        height: 30px;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }

    .d-align-right-cell{
        text-align: left;
    }

    .d-cell-input {
        width: 100%;
        max-width: 100%;
        border: 1px solid #7A7A7A;
        resize: none;
    }

    tbody td {
        border: solid 1px #4d6082;
        color: #333;
        padding: 10px;
        font-size: 12px;
        // text-shadow: 1px 1px 1px #fff;
    }
  }