.d-question-wrapper{
    // margin: 15px;
    padding: 20px;
    // padding-left: 0px;
    // border-bottom: 1px solid #CCCEDB;
    border-top: 0px;
    border-radius: 5px;
    // background-color: #fff;
    border-radius: 0px;
    min-height: 160px;
        // margin-left: 10px;
                    // margin-right: 10px;
    
}