<div class="cmp--sidebar">
    <mat-sidenav-container class="clbr-drawer-container example-container">
        <mat-sidenav #sidenav
            [mode]="push">
            <ul class="clbr-ul-list">
                <!-- <li class="clbr-ul-list-item"
                    routerLinkActive="active-route">
                    <a [routerLink]="['/portal2']">
                        <i class="bowtie-icon bowtie-build-queue-new"></i>
                        <span>SURVEY PORTAL</span>
                    </a>
                </li> -->
                <li class="clbr-ul-list-item"
                    routerLinkActive="active-route" (mouseenter)="mouseEnter(menuDashboardTrigger, menuIdentityTrigger)">
                    <a [routerLink]="['/dashboard']">
                        <!-- <mat-icon svgIcon="twotone-dashboard"></mat-icon> -->
                        <span>Survey dashboard</span>
                        <i class="bowtie-icon bowtie-chevron-right-light"
                        [matMenuTriggerFor]="menuDashboard"
                        #menuDashboardTrigger="matMenuTrigger"></i>
                        <mat-menu class="cmp--menu-panel-position clbr--mat-menu-panel-v1"  #menuDashboard="matMenu">
                            <button mat-menu-item>Create new survey</button>
                            <button mat-menu-item>Explorer</button>
                        </mat-menu>
                    </a>
                </li>
                <li class="clbr-ul-list-item" (mouseenter)="mouseEnter(menuIdentityTrigger, menuDashboardTrigger)"
                    routerLinkActive="active-route">
                    <a [routerLink]="['/is']" >
                        <span>Identity Server</span>
                        <i class="bowtie-icon bowtie-chevron-right-light"
                        [matMenuTriggerFor]="menuIdentity"
                        #menuIdentityTrigger="matMenuTrigger"></i>
                        <mat-menu class="cmp--menu-panel-position clbr--mat-menu-panel-v1"  #menuIdentity="matMenu">
                            <ul>
                                <li [hasPermission]="['identity.groups.list']" [matTooltipClass]="'my-tooltip'">
                                    <button hasPermissionCtrl class="clbr--mat-menu-item" (click)="router.navigateByUrl('is/groups')">Manage organizations</button>
                                </li>
                                <li [hasPermission]="['identity.users.list']" [matTooltipClass]="'my-tooltip'">
                                    <button hasPermissionCtrl class="clbr--mat-menu-item" (click)="router.navigateByUrl('/user')">Manage users</button>
                                </li>
                                <li [hasPermission]="['identity.system.config']" [matTooltipClass]="'my-tooltip'">
                                    <button hasPermissionCtrl class="clbr--mat-menu-item" (click)="router.navigateByUrl('/user')">System configurations</button>
                                </li>
                            </ul>                           
                        </mat-menu>
                    </a>
                </li>
            </ul>            
        </mat-sidenav>

        <mat-sidenav-content>
            <ng-content></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>