<div class="cmp-form-group-creat row">
    <div class="col-md-12">

        <form class="form-horizontal needs-validation" role="form" #formAgreement="ngForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

            <div class="form-group form-group-sm form--group-xs">
                <label class="col-md-3 control-label" for="name">Name</label>
                <div class="col-md-9">
                    <input formControlName="name" id="name" name="name" type="text" placeholder="Enter name" class="form-control">
                    <span class="valid-feedback" *ngIf="formGroup.get('name').hasError('required') && formGroup.get('name').touched || formGroup.get('name').hasError('required') && !formIsValid">
                        Value is required
                    </span>
                </div>
            </div>
            <div class="form-group form-group-sm form--group-xs">
                <label class="col-md-3 control-label" for="email">Parent group</label>
                <div class="col-md-9">
                    <p-dropdown [options]="drpdwnGroups" formControlName="parentId" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label" for="message">Description</label>
                <div class="col-md-9">
                    <textarea class="form-control" id="message" name="message" placeholder="Please enter description here..." rows="5"></textarea>
                </div>
            </div>

        </form>

        <!-- <form role="form" #formAgreement="ngForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="m-form m-form--label-align-right ng-untouched ng-pristine ng-valid"
            novalidate="">

            <div class="form-group form-group-sm form--group-xs">
                <label>Name:</label>
                <input type="text" class="form-control" formControlName="name">
                <span class="m-form__help" *ngIf="formGroup.get('name').hasError('required') && formGroup.get('name').touched || formGroup.get('name').hasError('required') && !formIsValid">
                    Value is required
                </span>
            </div>

            <div class="form-group form-group-sm form--group-xs">
                <label>Parent group:</label>
                <p-dropdown [options]="drpdwnGroups" formControlName="parentId" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
            </div>

            <div class="form-group form-group-sm form--group-xs">
                <label>Description:</label>
                <input type="text" class="form-control" formControlName="description">
            </div>

            <div class="m-separator m-separator--dashed m-separator--sm"></div>

            <div class="form-group">
                <button (click)="formAgreement.onSubmit()" pButton type="submit" class="" label="Create"></button>
                <button (click)="onCancel()" pButton type="reset" class="ui-button-secondary" label="Cancel"></button>
            </div>

        </form> -->

    </div>
</div>